<nav class="breadcrumbs">
  <a href="{{ routes.root_url }}" title="{{'collections.breadcrumbs.back_to_home' | t }}" class="breadcrumbs__link">
    {{- 'collections.breadcrumbs.home' | t -}}
  </a>

  {%- if template contains 'collection' -%}
    <span class="breadcrumbs__sep">/</span>
    <a href="{{ routes.collections_url }}" class="breadcrumbs__link">
      {{- 'collections.breadcrumbs.collections' | t -}}
    </a>
    <span class="breadcrumbs__sep">/</span>

    {%- if collection.handle -%}
      <span class="breadcrumbs__current">
        {%- if collection.handle == 'all' -%}
          {{- 'collections.breadcrumbs.default_collection' | t -}}
        {%- else -%}
          {{- collection.title -}}
        {%- endif -%}
      </span>
    {%- endif -%}
  {%- endif -%}

  {%- if template contains 'product' -%}
    <span class="breadcrumbs__sep">/</span>

    {%- assign product_collection = collection | default: product.collections[0] -%}
    {%- if product_collection.handle != blank -%}
      {{- product_collection.title | link_to: product_collection.url | replace: '<a ', '<a class="breadcrumbs__link" '-}}
      <span class="breadcrumbs__sep">/</span>
    {%- endif -%}

    {%- if product.handle -%}
      <span class="breadcrumbs__current">{{ product.title | strip_html | escape }}</span>
    {%- endif -%}
  {%- endif -%}
</nav>