{%- assign pair_products = '' -%}
{%- assign cart_products = '' -%}

{%- for line_item in cart.items -%}
  <div class="cart__item{% if forloop.last %} cart__item--no-border{% endif %}" data-cart-item>
    <div class="cart__item__image">
      <a href="{{ line_item.url }}">
        {%- liquid
          assign image = line_item.image
          assign image_url_pattern = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
          assign image_widths = "[90,160,180,270,320]"
        -%}
        <img
          class="lazyload"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ image_url_pattern }}"
          data-aspectratio="{{ image.aspect_ratio | default: 1 }}"
          data-widths= "{{ image_widths }}"
          data-sizes="auto"
          alt="{{ line_item.title | strip_html | escape }}">
        <noscript>
          <img src="{{ image | img_url: '160x' }}" alt="{{ line_item.title | strip_html | escape }}">
        </noscript>
      </a>
    </div>

    <div class="cart__item__content">
      <div class="cart__item__content-inner">
        <div class="cart__item__info">
          <p class="cart__item__title">
            <a href="{{- line_item.url -}}">
              {{- line_item.product.title | strip_html -}}
            </a>
          </p>

          <div class="cart__item__meta">
            {%- unless line_item.product.has_only_default_variant -%}
              {%- for option in line_item.options_with_values -%}
                <p class="cart__item__selected-options">
                  <span>{{- option.name -}}:</span>
                  <span>{{- option.value -}}</span>
                </p>
              {%- endfor -%}
            {%- endunless -%}

            {%- if line_item.selling_plan_allocation -%}
              <p class="cart__item__selling-plan">
                <span>{{ line_item.selling_plan_allocation.selling_plan.name }}</span>
              </p>
            {%- endif -%}

            {%- assign property_size = line_item.properties | size -%}
            {%- if property_size > 0 -%}
              {%- for p in line_item.properties -%}
                {%- assign property_first_char = p.first | slice: 0 -%}
                {%- if p.last != blank and property_first_char != '_' -%}
                  <p class="cart__item__property">
                    <span>{{ p.first }}: </span>
                    <span>
                      {%- if p.last contains '/uploads/' -%}
                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {%- else -%}
                        {{ p.last }}
                      {%- endif -%}
                    </span>
                  </p>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          </div>
        </div>

        <p class="cart__item__price">
          {%- assign discounted = false -%}
          {%- assign sale = false -%}

          {%- if line_item.original_price > line_item.final_price -%}
            {%- assign discounted = true -%}
          {%- endif -%}

          {%- if line_item.variant.compare_at_price > line_item.price -%}
            {%- assign sale = true -%}
          {%- endif -%}

          {%- if sale or discounted -%}
            <ins>
              {%- if line_item.final_price == 0 -%}
                {{ 'products.product.free' | t }}
              {%- else -%}
                {{- line_item.final_price | money_with_currency -}}
              {%- endif -%}
            </ins>
          {%- else -%}
            {%- if line_item.final_price == 0 -%}
              {{ 'products.product.free' | t }}
            {%- else -%}
              {{- line_item.final_price | money_with_currency -}}
            {%- endif -%}
          {%- endif -%}

          {%- if sale and discounted == false -%}
            <del>{{- line_item.variant.compare_at_price | money_with_currency -}}</del>
          {%- endif -%}

          {%- if discounted -%}
            <del>{{- line_item.original_price | money_with_currency -}}</del>
          {%- endif -%}

          {%- if line_item.unit_price -%}
            {%- capture unit_price_separator -%}
              <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
            {%- endcapture -%}

            {%- capture unit_price_base_unit -%}
              {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                {{- line_item.unit_price_measurement.reference_value -}}
              {%- endif -%}
              {{- line_item.unit_price_measurement.reference_unit -}}
            {%- endcapture -%}

            <span class="line__price">
              <small class="visually-hidden">{{ 'products.product.unit_price_label' | t }}</small>
              <small>{% if line_item.unit_price == 0 %}{{ 'products.product.free' | t }}{% else %}{{ line_item.unit_price | money_with_currency }}{% endif %} {{ unit_price_separator }} {{ unit_price_base_unit }}</small>
            </span>
          {%- endif -%}
        </p>
      </div>

      <div class="cart__item__bottom">
        <div class="cart__item__quantity" data-quantity-holder>
          <button type="button" class="cart__item__quantity-minus" data-quantity-minus data-quantity-button title="
            {{- 'general.accessibility.decrease' | t }} - {{ line_item.product.title | strip_html -}}">
            <span class="visually-hidden">{{ 'general.accessibility.decrease' | t }}</span>
            {%- render 'icon-toggle-minus' -%}
          </button>

          {%- assign quantity = line_item.quantity -%}

          {%- if line_item.variant.inventory_policy == 'deny' and line_item.variant.inventory_management != nil and line_item.variant.inventory_quantity < quantity -%}
            {%- assign quantity = line_item.variant.inventory_quantity -%}
          {%- endif -%}

          <input type="number" name="updates[]" id="updates_{{ line_item.key }}" class="cart__item__quantity-field" data-quantity-field
          data-id="{{- line_item.key -}}" value="{{- quantity -}}"
          title="{{- 'cart.label.quantity' | t }} - {{ line_item.product.title | strip_html -}}" pattern="[0-9]*">

          <button type="button" class="cart__item__quantity-plus" data-quantity-plus data-quantity-button title="
            {{- 'general.accessibility.increase' | t }} - {{ line_item.product.title | strip_html -}}">
            <span class="visually-hidden">{{ 'general.accessibility.increase' | t }}</span>
            {%- render 'icon-toggle-plus' -%}
          </button>
        </div>

        <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="cart__item__remove" data-item-remove data-id="{{ line_item.key }}" title="{{ 'cart.general.remove' | t }}">
          <span>{{ 'cart.general.remove' | t }}</span>
        </a>
      </div>
    </div>

    {%- if line_item.original_price > line_item.final_price -%}
      {%- for discount in line_item.line_level_discount_allocations -%}
        <p class="cart__discount">
          {%- render 'icon-tags' -%}
          {%- assign discount_price = discount.amount | money_with_currency -%}

          <span>{{ 'cart.general.discount_label' | t: amount: discount_price, title: discount.discount_application.title }}</span>
        </p>
      {%- endfor -%}
    {%- endif -%}

    {%- assign cart_products = cart_products | append: line_item.product.id | append: ',' -%}
    {%- assign upsell = line_item.product.metafields.theme.upsell -%}

    {%- if upsell.value != nil and upsell.type == 'product_reference' -%}
      {%- assign pair_products = pair_products | append: forloop.index0 | append: ',' -%}
    {%- endif -%}
  </div>
{%- endfor -%}

{%- if pair_products != '' -%}
  {%- liquid
    assign upsell_products = ''
    assign pair_products = pair_products | split: ','
    assign cart_products = cart_products | prepend: ','

    for index in pair_products
      assign arr_index = index | plus: 0
      assign upsell_product = cart.items[arr_index].product.metafields.theme.upsell.value

      for variant in upsell_product.variants
        if variant.available
          assign upsell_product_variant = variant.id
          break
        endif
      endfor

      if cart_products contains upsell_product.id or upsell_product.available == false
        continue
      endif

      unless upsell_products contains upsell_product.handle
        assign upsell_products = upsell_products | append: upsell_product.handle | append: '_' | append: upsell_product_variant | append: ','
      endunless
    endfor
  -%}

  <script data-pair-products-script>
    window.pairWithProducts = {{ upsell_products | strip_newlines | split: ',' | json }};
  </script>
{%- endif -%}
