{%- comment -%}
    Renders list of collections in grid layout

    Accepts:
    - collection: {Object} collection (required)
    - item_width: {String} Set item width class
    - carousel: {Boolean} Show the collections in carousel. Default: true
    - animation_delay: {Number} Factor based on grid items per row
    - placeholder_index: {Integer} Alternating placeholder images

    Usage:
    {% render 'collection-grid-item', collection: collection, item_width: item_width, carousel: carousel, animation_delay: animation_delay, placeholder_index: placeholder_index %}
{%- endcomment -%}

{%- liquid
  assign text_color = section.settings.text_color
  assign button_text = section.settings.button_text

  if custom_collection_image
    assign image = custom_collection_image
  elsif collection.image
    assign image = collection.image
  elsif collection.products.first and collection.products.first.featured_media.preview_image
    assign image = collection.products.first.featured_media.preview_image
  endif

  if collection.title == blank
    assign collection_title = 'homepage.onboarding.collection_title' | t
    assign collection_url = '#!'
  else
    assign collection_title = collection.title | strip_html | escape | truncatewords: 10
    assign collection_url = collection.url
  endif

  assign animations_enabled = settings.animations_enabled
-%}

{%- capture content -%}
  <div class="list-collections__item__content{% unless circles %} text-{{ text_color }}{% endunless %}"
    {% if animations_enabled %}
      data-aos="fade-up"
      data-aos-delay="{{ animation_delay | times: 150 }}"
    {% endif %}>
    <h3 class="list-collections__item__title">
      {{- collection_title -}}
    </h3>

    {%- unless button_text == blank -%}
      <div class="list-collections__item__btn-wrapper">
        <span class="btn btn--{{ section.settings.button_style }}">{{ button_text }}</span>
      </div>
    {%- endunless -%}
  </div>
{%- endcapture -%}

{%- capture item_class -%}
list-collections__item
{% if collection == empty %}list-collections__item--onboarding{% endif %}
list-collections__item--{% if circles %}circle{% else %}rect{% endif %}
{% if carousel %}carousel__item{% else %}grid__item{% endif %}
{{ item_width }}
{{ item_width_mobile }}
{%- endcapture -%}

<div class="{{ item_class }}"
  {% if carousel %}
    data-slide
  {% endif %}
  {% if block_shopify_attributes %}
    {{ block_shopify_attributes }}
  {% endif %}>

  {%- if circles -%}
    <div class="list-collections__item__image__outer">
  {%- endif -%}

  <a href="{{ collection_url }}" class="list-collections__item__image"
    data-product-media-container
    {% if animations_enabled %}
      data-aos="fade-up"
      data-aos-delay="{{ animation_delay | times: 150 }}"
    {% endif %}>
    
    <div
      class="list-collections__item__image-bg{% if image != blank %} lazyload{% else %}{% if circles %} placeholder-svg--overlayed{% endif %}{% endif %}"
      {% if image != blank %}
      data-bgset="{% render 'bgset', image: image %}"
      data-aspectratio="{{ image.aspect_ratio }}"
      data-sizes="auto"
      {% endif %}
    >
      {%- if collection != empty and image == blank -%}
        {%- assign image_url_pattern = collection.products.first.featured_image | img_url: '1024x' | replace: '_1024x.', '_{width}x.' -%}
        {%- assign image_widths = "[180, 360, 540, 720, 960, 1024, 1280]" -%}
        <img
          class="no-image-placeholder lazyload"
          src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
          data-src="{{ image_url_pattern }}"
          data-widths= "{{ image_widths }}"
          data-aspectratio="1"
          data-sizes="auto"
          width="1024"
          height="1024"
          alt="{{ collection.title | strip_html | escape }}">
        <noscript>
          <img
            class="no-image-placeholder"
            src="{{ product.featured_image | img_url: '1024x' }}"
            width="1024"
            height="1024"
            alt="{{ collection.title | strip_html | escape }}">
        </noscript>
      {%- elsif image == blank -%}
        {{- 'collection-' | append: placeholder_index | placeholder_svg_tag: 'placeholder-svg-filled' -}}
      {%- endif -%}
    </div>

    {%- if image != blank -%}
      <noscript>
        <div class="list-collections__item__image-bg" style="background-image: url( {{ image | img_url: '2048x' }} );"></div>
      </noscript>
    {%- endif -%}

    {%- unless circles -%}
      {{- content -}}
    {%- endunless -%}
  </a>

  {%- if circles -%}
    </div>

    <a href="{{ collection_url }}">
      {{- content -}}
    </a>
  {%- endif -%}
</div>