{% capture powered_by_link %} {{ 'footer.powered_by' | t }} <a href="https://www.shopify.com/" rel="noopener" target="_blank" rel="nofollow">Shopify</a>.{% endcapture %}

<div class="footer-copyright">
  <span>&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}.</span>
  {% comment %}
  <span>{{ powered_by_link }}</span>
  {% endcomment %}

  {%- for link in linklists[section.settings.bottom_menu].links -%}
    <a href="{{ link.url }}" class="footer-copyright__link">{{ link.title | strip_html | escape }}</a>
  {%- endfor -%}
</div>