{% comment %}
  * A cropped image that fills the container width using background-size: cover
  * height is defined by the optional aspect ratio.  If aspect ratio is false or nil
  * the image will use natural height and will not be cropped.

  *  img_object {object}- The Image we will use
  *  aspect_ratio {float} - The aspect ratio of the image in the format {ratio}:1

  {% render 'image-fill', img_object: section.settings.image, aspect_ratio: section.settings.aspect_ratio %}
{% endcomment %}

{%- assign image = img_object -%}

<div class="image__fill fade-in-image"
  {%- if image == blank -%}
    style="padding-top: {{ aspect_ratio | times: 100 }}%;
           filter: brightness(.95);"
  {%- elsif aspect_ratio -%}
    style="padding-top: {{ aspect_ratio | times: 100 }}%;"
  {%- else -%}
    style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;"
  {%- endif -%}>
  {%- unless image == blank -%}
    <div class="background-size-cover lazyload"
      style="background-position: {{ bg_position | replace: '-', ' ' }};"
      data-bgset="{% render 'bgset', image: image %}"
      role="img"
      aria-label="{{ image.alt | strip_html | escape }}"></div>
    <noscript>
      <img src="{{ image | img_url: '720x' }}" alt="{{ image.alt | strip_html | escape }}" class="responsive-wide-image"/>
    </noscript>
  {%- else -%}
    <div class="placeholder-svg--overlayed">
      {{- 'image' | placeholder_svg_tag: 'placeholder-svg-filled' -}}
    </div>
  {%- endunless -%}
</div>
