{%- comment -%}
    Renders list of products in grid layout

    Accepts:
    - product: {Object} product (required)
    - carousel: {Boolean} Show the product images in carousel. Default: false
    - animation_delay: {Number} Factor based on grid items per row

    Usage:
    {% render 'product-grid-item', product: product, carousel: carousel, animation_delay: animation_delay %}
{%- endcomment -%}

{%- liquid
  assign columns = settings.products_per_row_on_desktop | plus: 0
  assign columns_mobile = settings.products_per_row_on_mobile | plus: 0

  case columns
    when 1
      assign size_desktop = 'one-whole'
    when 2
      assign size_desktop = 'one-half'
    when 3
      assign size_desktop = 'one-third'
    when 4
      assign size_desktop = 'one-quarter'
  endcase

  case columns_mobile
    when 1
      assign size_mobile = 'mobile--one-whole'
    when 2
      assign size_mobile = 'mobile--one-half'
  endcase

  if carousel
    assign size_mobile = 'mobile--one-whole'
  endif

  assign product_tags = product.tags | join: ',' | append: ','
  assign preorder = false
  assign on_sale = false
  assign sold_out = false
  assign custom_badge = false

  if product_tags contains '_badge_'
    assign custom_badge = true
    assign custom_badge_text = product_tags | split: '_badge_'
    assign custom_badge_text = custom_badge_text[1] | split: ',' | first | replace: '_', ' '
  endif

  if product_tags contains '_preorder'
    assign preorder = true
  endif

  if product.compare_at_price > product.price
    assign on_sale = true
  endif

  unless product.available
    assign sold_out = true
  endunless

  assign current_variant = product.selected_or_first_available_variant
  assign featured_media = product.featured_media
  assign animations_enabled = settings.animations_enabled
  assign product_grid_hover = settings.product_grid_hover
  assign product_grid_hover_animation = settings.product_grid_hover_animation
  if product.media.size <= 1 or product_grid_hover == 'none'
    assign product_grid_hover = false
  endif
-%}

<div class="product-grid-item {% if carousel %}carousel__item{% else %}grid__item{% endif %} {{ size_desktop }} {{ size_mobile }}{% if tag %} has-tag{% endif %}{% if sold_out %} soldout{% endif %}"
  {% if carousel %} data-slide {% endif %}
  data-product-block
  data-product-id="{{ product.id }}">
  <div class="product-grid-item__inner">
    {%- comment -%} Image {%- endcomment -%}
    <div class="product-grid-item__image" data-product-media-container>
      {%- liquid
        assign grid_image_size = settings.image_size
        assign image = featured_media.preview_image
        assign image_aspect_ratio = image.aspect_ratio | default: 1

        if grid_image_size == 'contain'
          assign container_aspect_ratio = settings.image_aspect_ratio

          if image_aspect_ratio < container_aspect_ratio
            assign portrait = true
          else
            assign portrait = false
          endif

          capture image_container_class
            echo 'product__media__container'

            if grid_image_size == 'contain'
              echo ' product__media__container--'
              if portrait
                echo 'portrait'
              else
                echo 'landscape'
              endif
            endif
          endcapture
        else
          assign image_container_class = 'product__media__container'
        endif
      -%}
      <div class="product__media__outer">
        <div class="product__media__inner">
          <div class="{{ image_container_class }}" style="--aspect-ratio: {{ image_aspect_ratio }};">
            <a class="product__media__holder" href="{{ product.url | within: collection }}" aria-label="{{ product.title | strip_html | escape }}"{% if animations_enabled %} data-aos="zoom-out" data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="{{ animation_delay | times: 150 }}"{% endif %}>
              {%- if product.media.size > 0 -%}
                <div class="product__media__image{% if product_grid_hover %} product__media__image--hover-{{ product_grid_hover_animation }}{% endif %} lazy-image" style="background-image: url({{ image | img_url: '1x1' }});">
                  <div class="product__media product__media--featured lazyload"
                    data-bgset="{% render 'bgset', image: image %}"
                    data-sizes="auto"
                    data-parent-fit="cover"
                    data-aspectratio="{{ image.aspect_ratio }}"
                    data-product-image>
                  </div>

                  <noscript>
                    <div class="product__media product__media--featured" style="background-image: url({{ image | img_url: '600x' }})"></div>
                  </noscript>

                  <span class="visually-hidden">{{ image.alt | default: product.title | strip_html | escape }}</span>
                </div>
              {%- else -%}
                {%- assign image = product.featured_image -%}
                {%- assign image_url_pattern = image | img_url: '540x' | replace: '_540x.', '_{width}x.' -%}
                {%- assign image_widths = "[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]" -%}

                <div class="product__media product__media--featured">
                  <a href="{{ product.url | within: collection }}" aria-label="{{ product.title | strip_html | escape }}" class="lazy-image" style="background-image: url({{ image | img_url: '1x1' }});">
                    <img
                      class="product__media__empty no-image-placeholder lazyload"
                      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="{{ image_url_pattern }}"
                      data-widths= "{{ image_widths }}"
                      data-aspectratio="1"
                      data-sizes="auto"
                      data-product-image
                      width="540"
                      height="540"
                      alt="{{ product.title | strip_html | escape }}">
                    <noscript>
                      <img
                        class="product__media__empty no-image-placeholder"
                        src="{{ product.featured_image | img_url: '1024x' }}"
                        width="1024"
                        height="1024"
                        alt="{{ collection.title | strip_html | escape }}">
                    </noscript>
                  </a>
                </div>
              {%- endif -%}

              {%- if product_grid_hover == 'slideshow' and product.media.size > 1 -%}
                <div class="product__media__hover product__media__hover--{{ product_grid_hover_animation }}">
                  <div class="product__media__slider" data-product-media-slideshow>
                    {%- for media in product.media limit: 4 -%}
                      {%- if media != featured_media -%}
                        {%- assign image = media.preview_image -%}
                        <div class="product__media__slide lazy-image" data-product-media-slideshow-slide style="background-image: url({{ image | img_url: '1x1' }});">
                          <div class="product__media lazyload"
                            href="{{ product.url | within: collection }}"
                            aria-label="{{ product.title | strip_html | escape }}"
                            data-bgset="{% render 'bgset', image: image %}"
                            data-sizes="auto"
                            data-parent-fit="cover"
                            data-aspectratio="{{ image.aspect_ratio }}">
                          </div>
                          <noscript>
                            <div class="product__media"
                              href="{{ product.url | within: collection }}"
                              aria-label="{{ product.title | strip_html | escape }}"
                              style="background-image: url({{ image | img_url: '600x' }})">
                            </div>
                          </noscript>
                        </div>
                      {%- endif -%}
                    {%- endfor -%}
                  </div>

                  {%- if product.media.size > 2 -%}
                    <div class="progress-bar">
                      <div class="progress-bar__inner" data-product-slideshow-progress></div>
                    </div>
                  {%- endif -%}
                </div>
              {%- elsif product_grid_hover == 'image' and product.media[1].preview_image != blank -%}
                {%- assign image = product.media[1].preview_image -%}
                <div class="product__media__hover product__media__hover--{{ product_grid_hover_animation }} lazy-image" style="background-image: url({{ image | img_url: '1x1' }});">
                  <div class="product__media__hover-img product__media lazyload"
                    data-bgset="{% render 'bgset', image: image %}"
                    data-sizes="auto"
                    data-parent-fit="cover"
                    data-aspectratio="{{ image.aspect_ratio }}">
                  </div>

                  <noscript>
                    <div class="product__media__hover-img product__media" style="background-image: url({{ image | img_url: '600x' }})"></div>
                  </noscript>
                </div>
              {%- endif -%}
            </a>

            {%- liquid
              assign show_badge = settings.show_badge
              assign show_sold_badge = settings.show_sold_badge
              assign show_saving_badge = settings.show_saving_badge
              assign sold_out_text = 'products.product.sold_out' | t
              assign sale_text = 'products.product.sale' | t
              assign preorder_text = 'products.product.preorder' | t
            
              if settings.show_saving_badge
                assign price = product.price
                assign price_compare = product.compare_at_price
                assign price_difference = price_compare | minus: price
            
                if product.variants.size > 1
                  for variant in product.variants
                    assign variant_price_difference = variant.compare_at_price | minus: variant.price
            
                    if variant_price_difference > price_difference
                      assign price = variant.price
                      assign price_compare = variant.compare_at_price
                      assign price_difference = variant_price_difference
                    endif
                  endfor
                endif
            
                assign discount = price_difference | money_without_trailing_zeros
            
                if settings.saving_badge_type == 'percentage'
                  assign percent_off = price_difference | times: 1.00 | divided_by: price_compare | times: 100
                  assign discount = percent_off | floor | append: '%'
                endif
            
                if product.variants.size == 1 and price_difference > 0
                  assign saving_badge_text = 'products.product.save_badge_html' | t: discount: discount
                endif
            
                if product.variants.size > 1 and price_difference > 0
                  assign saving_badge_text = 'products.product.save_badge_up_to_html' | t: discount: discount
                endif
            
                if saving_badge_text == blank
                  assign show_saving_badge = false
                endif
              endif
            -%}
            
            {%- capture product_badges -%}
              {%- if custom_badge and show_badge -%}
                <div class="product__badge__item product__badge__item--custom"><span>{{ custom_badge_text }}</span></div>
              {%- endif -%}
            
              {%- if sold_out and show_sold_badge -%}
                <div class="product__badge__item product__badge__item--sold"><span>{{ sold_out_text }}</span></div>
              {%- endif -%}
            
              {%- if preorder and show_badge and sold_out == false -%}
                <div class="product__badge__item product__badge__item--custom"><span>{{ preorder_text }}</span></div>
              {%- elsif on_sale and show_badge and sold_out == false and show_saving_badge == false -%}
                <div class="product__badge__item product__badge__item--sale"><span>{{ sale_text }}</span></div>
              {%- endif -%}
            
              {%- if show_saving_badge -%}
                <div class="product__badge__item product__badge__item--saving"><span>{{ saving_badge_text }}</span></div>
              {%- endif -%}
            {%- endcapture -%}
            
            {%- unless product_badges == blank -%}
              <div class="product__badge" data-product-badge>{{ product_badges }}</div>
            {%- endunless -%}

            {%- unless settings.quick_button == 'none' -%}
              {%- if settings.quick_button == 'view' -%}
                <a class="btn--quick"
                  href="{{ product.url | within: collection }}"
                  aria-label="{{ product.title | strip_html | escape }}"
                  data-handle="{{ product.handle }}"
                  data-button-quick-view>
                  {%- render 'icon-shopping-bag' -%}
                </a>
              {%- elsif settings.quick_button == 'buy' -%}
                {%- capture unique -%}{{ section.id }}-{{ product.id }}{%- endcapture -%}

                {%- form 'product', product, data-product-form: '', data-quickbuy-form: '', id: unique, class: 'quick__form' -%}
                  <input type="hidden" name="quantity" value="1">
                  <input type="hidden" name="id" value="{{ current_variant.id }}">
                  <button type="submit" name="add" class="btn--quick" data-add-to-cart data-product-id="{{ current_variant.id }}">
                    {%- render 'icon-toggle-plus' -%}
                  </button>
                {%- endform -%}
              {%- endif -%}
            {%- endunless -%}

            {%- if settings.quick_button == 'buy' -%}
              <div class="product-grid-item__error" data-cart-errors-container data-cart-errors-container-quickbuy></div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>

    {% comment %} Product info {% endcomment %}
    <div class="product-grid-item__info{% if settings.content_alignment == 'left' %} product-grid-item__info--left{% endif %}">
      {% comment %} Title {% endcomment %}
      <a class="product-grid-item__title" href="{{ product.url | within: collection }}" aria-label="{{ product.title | strip_html | escape }}">
        {{- product.title | strip_html | escape -}}
      </a>
      
    {% comment %} SECONDARY DESCRIPTION {% endcomment %}
	<p class="product-meta">{{ product.metafields.my_fields.secondary_description }}</p>
      {% comment %} Price {% endcomment %}
      <a class="product-grid-item__price price" href="{{ product.url | within: collection }}">
        {%- if product.price == 0 and product.price_varies == false -%}
          {%- assign product_price = 'products.product.free' | t -%}
          {%- assign product_price_min = 'products.product.free' | t -%}
        {%- else -%}
          {%- assign product_price = product.price | money -%}
          {%- assign product_price_min = product.price_min | money -%}
        {%- endif -%}

        {%- if product.price_varies -%}
          {{- 'products.general.from_text_html' | t: price: product_price_min -}}
        {%- else -%}
          {%- if on_sale -%}
            {{ product_price }}

            <s>{{ product.compare_at_price | money }}</s>
          {%- else -%}
            {{ product_price }}
          {%- endif -%}
        {%- endif -%}
		
        {%- if current_variant.unit_price_measurement -%}
          <span class="product__unit-price">
            {{ current_variant.unit_price | money }}
            {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
              {{- current_variant.unit_price_measurement.reference_value -}}
            {%- endif -%}
            {{ current_variant.unit_price_measurement.reference_unit }}
          </span>
        {%- endif -%}
      </a>

      {%- if settings.show_rating and product.metafields.reviews != empty -%}
        <a href="{{ product.url | within: collection }}" class="product-grid-item__rating">
          {%- render 'rating', reviews: product.metafields.reviews, show_rating_count: settings.show_rating_count -%}
        </a>
      {%- endif -%}

      {%- if settings.enable_color_swatches_collection -%}
        {%- comment -%} /partials/product-swatch--grid.liquid {%- endcomment -%}

        {%- unless product.has_only_default_variant -%}
          {%- capture swatch_translation -%}{{ 'general.swatches.color' | t }}{%- endcapture -%}
        
          {%- assign swatch_labels = swatch_translation | append: ',' | split: ',' -%}
          {%- for label in swatch_labels -%}
            {%- assign sanitized_label = label | lstrip | rstrip -%}
            {%- if product.options_by_name[sanitized_label].values.size > 0 -%}
              <div class="product-grid-item__swatch{% if settings.product_grid_hover_swatches %} product-grid-item__swatch--hover{% endif %}" data-grid-swatches data-swatch-handle="{{ product.handle }}" data-swatch-label="{{ label }}" data-tooltip="{{ label }}"></div>
        
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endunless -%}
      {%- endif -%}
    </div>
  </div>
</div>