{%- unless customer_name == blank and text == blank and subheading == blank -%}
  {%- style -%}
    {% if override_border %}
      #Testimonials--{{ section.id }} .testimonial__item--{{ block_id }} {
        --COLOR-BLACK-WHITE: {{ border_color }};
        border-width: {{ border_width }}px;
      }
    {% endif %}
    {%- if text_size != blank -%}
      #brick-section--{{ section.id }} .testimonial__item--{{ block_id }} .testimonial__text { --adjust-body: calc(var(--FONT-ADJUST-BODY) * {{ text_size }}); }
    {%- endif -%}
  {%- endstyle -%}

  <div class="testimonial__item testimonial__item--{{ block_id }}"
    data-item
    {{ block_shopify_attributes }}>
    <div class="testimonial__item__inner"{% if animations_enabled %} data-aos="fade-up" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %}>
      {%- assign animation_delay = animation_delay | plus: 250 -%}
      {%- unless star_rating == 0 -%}
        <div class="testimonial__stars">
          <span class="rating__star" aria-hidden="true" style="--percent: {{ 100 | minus: percent }}%">
            <span class="rating__star__empty">
              {%- for i in (1..5) -%}
                <svg width="25px" height="25px" viewBox="0 0 25 25" class="icon icon-star icon-star--empty"><polygon fill-rule="nonzero" points="16.2212909 8.77064179 12.5128412 0.870224269 8.80343056 8.77064179 0.512841234 10.0374085 6.51243703 16.1862739 5.09643337 24.8702243 12.5128412 20.7696377 19.9292491 24.8702243 18.5122845 16.1862739 24.5128412 10.0374085"></polygon></svg>
              {%- endfor -%}
            </span>

            <span class="rating__star__full">
              {%- for i in (1..5) -%}
                <svg width="25px" height="25px" viewBox="0 0 25 25" class="icon icon-star icon-star--full"><polygon fill-rule="nonzero" points="16.2212909 8.77064179 12.5128412 0.870224269 8.80343056 8.77064179 0.512841234 10.0374085 6.51243703 16.1862739 5.09643337 24.8702243 12.5128412 20.7696377 19.9292491 24.8702243 18.5122845 16.1862739 24.5128412 10.0374085"></polygon></svg>
              {%- endfor -%}
            </span>
          </span>
        </div>
      {%- endunless -%}

      <div class="testimonial__text">{{ text }}</div>

      {%- if customer_name != blank or subheading != blank -%}
        <div class="testimonial__user">
          {%- if image != blank -%}
            <div class="testimonial__user__image"{% if animations_enabled %} data-aos="fade-up" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %}>
              {%- liquid
                assign image_url_pattern = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
                assign image_widths = "[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]"
                assign animation_delay = animation_delay | plus: 250
              -%}

              <img class="testimonial__user__image__img lazyload"
                src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
                data-src="{{ image_url_pattern }}"
                data-widths= "{{ image_widths }}"
                data-aspectratio="{{ image.aspect_ratio }}"
                data-sizes="auto"
                style="width: {{ image_width }}px; height: {{ image_width }}px"
                alt="{{ image.alt | escape }}">
              <noscript>
                <img src="{{ image | img_url: '512x' }}" class="testimonial__user__image__img" style="width: {{ image_width }}px; height: {{ image_width }}px" alt="{{ image.alt | escape }}">
              </noscript>
            </div>
          {%- endif -%}

          {%- if customer_name != blank -%}
            <div class="testimonial__user__name">{{ customer_name | escape }}</div>
          {%- endif -%}

          {%- if subheading != blank -%}
            <div class="testimonial__subheading">{{ subheading }}</div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endunless -%}