<!-- /templates/customers/account.liquid -->
<section class="page-customer">
  <div class="wrapper">
    <div class="account-wrapper">
      <div class="account">
        <h1 class="account__heading inline-list">{{ 'customer.account.title' | t }}</h1>
        <a class="account__logout" href = "/account/logout">{{ 'layout.customer.log_out' | t }}</a>
        <hr class="hr--small">
        <div class="account__table">
          <div class="account__table__item">
            <h4 class="account__heading">{{ 'customer.orders.title' | t }}</h4>
            {% comment %}
            If we have past orders, loop through each one
            {% endcomment %}
            {% paginate customer.orders by 20 %}
              {% if customer.orders.size != 0 %}
                <div class="table-wrap">
                  <table class="full">
                    <thead class="desktop-order">
                      <tr>
                        <th>{{ 'customer.orders.order_number' | t }}</th>
                        <th>{{ 'customer.orders.date' | t }}</th>
                        <th>{{ 'customer.orders.payment_status' | t }}</th>
                        <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                        <th>{{ 'customer.orders.total' | t }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for order in customer.orders %}
                        {%- if order.total_price == 0 -%}
                          {%- assign order_total = 'products.product.free' | t | link_to: order.customer_url -%}
                        {%- else -%}
                          {%- assign order_total = order.total_price | money | link_to: order.customer_url -%}
                        {%- endif -%}

                        <tr class="responsive-order">
                          <th class="order-title">{{ 'customer.orders.order_number' | t }}</th>
                          <td class="order-title">{{ order.name | link_to: order.customer_url }}</td>
                          <th>{{ 'customer.orders.date' | t | link_to: order.customer_url }}</th>
                          <td>{{ order.created_at | date: format: 'month_day_year' | link_to: order.customer_url }}</td>
                          <th>{{ 'customer.orders.payment_status' | t | link_to: order.customer_url }}</th>
                          <td>{{ order.financial_status_label | link_to: order.customer_url }}</td>
                          <th>{{ 'customer.orders.fulfillment_status' | t | link_to: order.customer_url }}</th>
                          <td>{{ order.fulfillment_status_label | link_to: order.customer_url }}</td>
                          <th>{{ 'customer.orders.total' | t | link_to: order.customer_url }}</th>
                          <td>{{- order_total -}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% else %}
                <p>{{ 'customer.orders.none' | t }}</p>
              {% endif %}

              {% if paginate.pages > 1 %}
                {%- if settings.show_spacer_lines -%}
                  <hr>
                {%- endif -%}
                <div class="pagination">
                  {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                </div>
              {% endif %}
            {% endpaginate %}
          </div>
          <div class="account__table__item">
              <h4>{{ 'customer.account.details' | t }}</h4>

              {% if customer.default_address != nil %}
                <p>{{ customer.default_address.first_name }} {{ customer.default_address.last_name }}<br>
                  {{ customer.default_address.address1 }}<br>
                  {% if customer.default_address.address2 != "" %}
                    {{ customer.default_address.address2 }}<br>
                  {% endif %}
                  {% if customer.default_address.city != "" %}
                    {{ customer.default_address.city }}<br>
                  {% endif %}
                  {% if customer.default_address.province_code != nil %}
                    {{ customer.default_address.province_code | upcase }}<br>
                  {% endif %}
                  {% if customer.default_address.zip != "" %}
                    {{ customer.default_address.zip | upcase }}<br>
                  {% endif %}
                  {% if customer.default_address.country != "" %}
                    {{ customer.default_address.country }}<br>
                  {% endif %}
                  {% if customer.default_address.phone != "" %}
                    {{ customer.default_address.phone }}
                  {% endif %}
                </p>
              {% else %}
                <p>{{ customer.name }}</p>
              {% endif %}
              <p><a href="{{ routes.account_addresses_url }}">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>