<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="utf-8">
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
  <link rel="canonical" href="{{ canonical_url }}" />

  <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
  <link rel="preload" as="script" href="{{ 'lazysizes.min.js' | asset_url }}">
  <link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">
  <link rel="preload" as="image" href="{{ 'loading.svg' | asset_url }}">

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com" crossorigin>

  {%- liquid
  assign loading_appearance = settings.loading_appearance
  assign image_width = settings.loading_image_width
  assign image = settings.loading_image
-%}
{%- unless loading_appearance == 'never' -%}
  {%- if image != blank -%}
    {%- assign image_height = image_width | divided_by: image.aspect_ratio | round -%}
    {%- capture preload_image_size -%}{{ image_width }}x{{ image_height }}{%- endcapture -%}
    <link rel="preload" as="image" href="{{ image | img_url: preload_image_size }}" data-preload="{{ preload_image_size }}">
  {%- endif -%}

  {%- style -%}
    :root { --loader-image-size: {{ image_width }}px; }
    {%- if image == blank -%}
      :root { --loader-image-size: 320px; }
    {%- endif -%}
    html:not(.is-loading) .loading-overlay { opacity: 0; visibility: hidden; pointer-events: none; }
    .loading-overlay { position: fixed; top: 0; left: 0; z-index: 99999; width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center; background: var(--bg); transition: opacity 0.3s ease-out, visibility 0s linear 0.3s; }
    .loading-overlay .loader__image { width: {{ image_width }}px; height: {{ image_width }}px; }
    .loading-overlay .loader__image--fallback { width: 320px; height: 100%; background: var(--loader-image) no-repeat center center/contain; }
    .loader__image__holder { position: absolute; top: 0; left: 0; width: 100%; height: 100%; font-size: 0; display: flex; align-items: center; justify-content: center; animation: pulse-loading 2s infinite ease-in-out; }
    .loader__image { max-width: 150px; max-height: 150px; object-fit: contain; }
    .loader--line {
      position: relative;
      height: 4px;
      display: block;
      background-color: var(--button-primary-fade);
      border-radius: 2px;
      overflow: hidden;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s ease, visibility 0s linear .3s;
    }

    .loadMore .loader,
    .is-loading .loader {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }

    .lazyloaded .loader {
      opacity: 0;
      visibility: hidden;
    }

    .loader-indeterminate { background-color: var(--button-primary-bg); }
    .loader-indeterminate::before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: -35%;
      width: 100%;
      bottom: 0;
      will-change: transform;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    }

    .loader-indeterminate::after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: -200%;
      width: 100%;
      bottom: 0;
      will-change: transform;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
      animation-delay: 1.15s;
    }

    @keyframes indeterminate {
      0% { transform: translateX(0) scale(0.35, 1); }
      60% { transform: translateX(50%) scale(0.9, 1); }
      100% { transform: translateX(100%) scale(0.9, 1); }
    }
    @keyframes indeterminate-short {
      0% { transform: translateX(0) scale(2, 1); }
      60% { transform: translateX(460px) scale(0.01, 1); }
      100% { transform: translateX(460px) scale(0.01, 1); }
    }
    @keyframes pulse-loading {
      0% { opacity: 1; }
      50% { opacity: .25; }
      100% { opacity: 1; }
    }
  {%- endstyle -%}

  <script>
    const loadingAppearance = {{ loading_appearance | json }};
    const loaded = sessionStorage.getItem('loaded');

    if (loadingAppearance === 'once') {
      if (loaded === null) {
        sessionStorage.setItem('loaded', true);
        document.documentElement.classList.add('is-loading');
      }
    } else {
      document.documentElement.classList.add('is-loading');
    }
  </script>
{%- endunless -%}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {% comment %} Title and description {% endcomment %}
  <title>{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- else -%}
    <meta name="description" content="{{ shop.description | escape }}">
  {%- endif -%}

  {%- unless settings.type_base_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_base_font | font_url }}" type="font/woff2" crossorigin>
  {%- endunless -%}

  {%- unless settings.type_heading_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_heading_font | font_url }}" type="font/woff2" crossorigin>
  {%- endunless -%}

  {%- render 'social-meta-tags' -%}

  {%- render 'css-variables' -%}

  {%- comment -%} CSS {%- endcomment -%}
  {{- 'theme.css' | asset_url | stylesheet_tag -}}

  {%- comment -%}{{- 'theme.dev.css' | asset_url | stylesheet_tag -}}{%- endcomment -%}

  {%- comment -%}
    Uncomment the row above that contains 'theme.dev.css' if you need to do edit the styles
    Comment out {{- 'theme.css' | asset_url | stylesheet_tag -}} row to avoid styles being overridden
    Go to /assets/theme.dev.css and do the changes there

    DO NOT EDIT /assets/theme.css file

    More info:
    https://presidiocreative.com/link/palo-alto/css
  {%- endcomment -%}

  <script type="text/javascript">
    if (window.MSInputMethodContext && document.documentMode) {
      var scripts = document.getElementsByTagName('script')[0];
      var polyfill = document.createElement("script");
      polyfill.defer = true;
      polyfill.src = "{{ 'ie11.js' | asset_url }}";

      scripts.parentNode.insertBefore(polyfill, scripts);

      document.documentElement.classList.add('ie11');
    } else {
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    }

    let root = '{{ routes.root_url }}';
    if (root[root.length - 1] !== '/') {
      root = `${root}/`;
    }

    window.theme = {
      assets: {
        smoothscroll: '{{ "smoothscroll.js" | asset_url }}',
        no_image: "{{ image | img_url: '1024x' }}",
        swatches: '{{ "swatches.json" | asset_url }}',
        base: "{{ 'nothing.jpg' | asset_url | split: 'nothing.jpg' | first }}"
      },
      routes: {
        root: root,
        cart_url: {{ routes.cart_url | json }},
        cart_add_url: {{ routes.cart_add_url | json }},
        cart_change_url: {{ routes.cart_change_url | json }},
        shop_url: {{ shop.url | json }},
        search_url: {{ routes.search_url | json }},
        product_recommendations_url: {{ routes.product_recommendations_url | json }}
      },
      strings: {
        add_to_cart: {{ "products.product.add_to_cart" | t | json }},
        cart_acceptance_error: {{ "cart.general.accept_terms" | t | json }},
        cart_empty: {{ "cart.general.empty" | t | json }},
        cart_price: {{ "cart.label.price" | t | json }},
        cart_quantity: {{ "cart.label.quantity" | t | json }},
        cart_items_one: {{ "cart.label.items_with_count.one" | t | json }},
        cart_items_many: {{ "cart.label.items_with_count.other" | t | json }},
        cart_title: {{ "cart.general.title" | t | json }},
        cart_total: {{ "cart.label.total" | t | json }},
        continue_shopping: {{ "cart.general.continue_shopping" | t | json }},
        free: {{ 'products.product.free' | t | json }},
        limit_error: {{ "cart.general.limit_error" | t | json }},
        no_results: {{ "general.search.results.no_results" | t | json }},
        preorder: {{ "products.product.preorder" | t | json }},
        remove: {{ 'cart.general.remove' | t | json }},
        results_one: {{ "general.search.results.one" | t | json }},
        results_other: {{ "general.search.results.other" | t | json }},
        sale_badge_text: {{ "products.product.sale" | t | json }},
        saving_badge: {{ "products.product.save_badge_html" | t | json }},
        saving_up_to_badge: {{ "products.product.save_badge_up_to_html" | t | json }},
        sold_out: {{ "products.product.sold_out" | t | json }},
        subscription: {{ "products.product.subscription" | t | json }},
        unavailable: {{ "products.product.unavailable" | t | json }},
        unit_price_label: {{ "products.product.unit_price_label" | t | json }},
        unit_price_separator: {{ "general.accessibility.unit_price_separator" | t | json }},
        view_all: {{ "general.search.view_all" | t | json }},
        zero_qty_error: {{ "cart.general.zero_qty_error" | t | json }},
        delete_confirm: {{ "customer.addresses.delete_confirm" | t | json }}
      },
      icons: {
        plus: '{% render "icon-toggle-plus" %}',
        minus: '{% render "icon-toggle-minus" %}',
        close: '{% render "icon-close" %}',
        closeSmall: '{% render "icon-close-small" %}'
      },
      settings: {
        animations: {{ settings.animations_enabled | json }},
        cartType: {{ settings.cart_type | json }},
        enableAcceptTerms: {{ settings.enable_accept_terms | json }},
        enableInfinityScroll: {{ settings.enable_infinity_scroll | json }},
        enablePaymentButton: {{ settings.show_payment_button | json }},
        gridImageSize: {{ settings.image_size | json }},
        gridImageAspectRatio: {{ settings.image_aspect_ratio | json }},
        mobileMenuBehaviour: {{ settings.mobile_menu_behaviour | json }},
        productGridHover: {{ settings.product_grid_hover | json }},
        savingBadgeType: {{ settings.saving_badge_type | json }},
        showBadge: {{ settings.show_badge | json }},
        showSoldBadge: {{ settings.show_sold_badge | json }},
        showSavingBadge: {{ settings.show_saving_badge | json }},
        quickButton: {{ settings.quick_button | json }},
      },
      sizes: {
        mobile: 480,
        small: 768,
        large: 1024,
        widescreen: 1440
      },
      moneyFormat: {{ shop.money_format | json }},
      info: {
        name: 'Palo Alto'
      },
      version: '4.1.1'
    };
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.preloadAfterLoad = true;
    window.PaloAlto = window.PaloAlto || {};
    window.slate = window.slate || {};
    window.isHeaderTransparent = false;
    window.initialHeaderHeight = 60;
    window.lastWindowWidth = window.innerWidth || document.documentElement.clientWidth;
  </script>
  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>

  {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}

  {% render 'shogun-head' %}
</head>

<body>
  {%- render 'loading' -%}
  {{ content_for_layout }}
</body>
</html>
