{%- layout 'password' -%}
  {%- assign image = section.settings.background_image -%}
  {%- assign logo = section.settings.logo -%}
  {%- capture powered_by_link -%}{{ 'footer.powered_by' | t }} <a href="https://www.shopify.com/" rel="noopener" target="_blank" rel="nofollow">Shopify</a>{%- endcapture -%}

  <style>.password-page__logo { width: {{ section.settings.logo_max_width | append:'px' }};</style>
  <noscript>
    <style>.password-page__container { background-image: url( {{ image | img_url: '2048x' }} ); } </style>
  </noscript>

  <body class="template-password{% if settings.show_buttons_animation %} show-buttons-animation{% endif %}">
    <div class="password-page__container lazyload"
      data-section-type="password-template"
      data-section-id="{{ section.id }}"
      {% unless image == blank %}
        data-bgset="{% render 'bgset', image: image %}"
        data-sizes="auto"
        data-parent-fit="cover"
      {% else %}
        style="background-image: url( {{ 'password-page-background.jpg' | asset_url }} );"
      {% endunless %}>

      <div class="password-page__wrapper">
        <div class="toggle-wrapper">
          <small>
            <a href="#" id="AdminLoginToggle" data-toggle-admin class="inline-list"> {{ 'password.buttons.store_login' | t }}</a> |
            <a href="#" id="NewsletterToggle" data-toggle-newsletter class="inline-list">{{ 'password.buttons.newsletter_signup' | t }}</a>
          </small>
        </div>
        <div class="password-page__inner wrapper wrapper--narrow">
        {%- if logo -%}
          {%- assign image_url_pattern = logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign image_widths = "[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]" -%}

          <img class="password-page__logo lazyload"
            src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
            alt="{{ shop.name }}"
            data-src="{{ image_url_pattern }}"
            data-widths="{{ image_widths }}"
            data-aspectratio="{{ logo.aspect_ratio }}"
            data-sizes="auto">
          <noscript>
            <img src="{{ logo | img_url: '512x' }}" alt="{{ shop.name }}" class="password-page__logo">
          </noscript>
        {%- endif -%}

        {%- if section.settings.show_shop_name -%}
          <h1 class="text-center">{{ shop.name }}</h1>
        {%- endif -%}

        <h3>{{ 'password.page.title' | t }}</h3>

        {%- unless shop.password_message == blank -%}
          <p>{{ shop.password_message }}</p>
        {%- endunless -%}

        {%- form 'customer', id:'CustomerLoginForm', data-form-newsletter: '' -%}
          {{- form.errors | default_errors -}}

          {%- if form.posted_successfully? -%}
            <p>{{ 'password.form.success' | t }}</p>
          {%- else -%}
            <div id ="CustomerSignup">
              <p>{{ 'password.form.newsletter_title' | t }}</p>
              {%- if section.settings.text -%}
                {{- section.settings.text -}}
              {%- endif -%}
              <input class="signup-input inline-list" type="email" name="contact[email]" id="email" placeholder="{{ 'password.form.placeholder' | t }}" required>
              <button type="submit" class="btn customer-signup-button">{{ 'password.buttons.sign_up' | t }}</button>
            </div>
          {%- endif -%}
        {%- endform -%}

        {%- form 'storefront_password', id:'StorefrontPassword', data-form-admin: '' -%}
          {{- form.errors | default_errors -}}

          {%- unless form.posted_successfully? -%}
            <div id="AdminLogin">
              <p>{{ 'password.buttons.store_login' | t }}</p>
              <input class="inline-list password-input" type='password' placeholder="Password" name='password' id='password' required>
              <button type="submit" class="btn password-login-button">{{ 'password.buttons.login' | t }}</button>
            </div>
          {%- endunless -%}
        {%- endform -%}

        <div class="password-page__socials">
          {%- render 'footer-social' -%}
        </div>

        <p class="password-page__powered-by-text"><small>{{ powered_by_link }}</small></p>
      </div>
    </div>
  </div>

{% schema %}
{
  "name": "Password page",
  "class": "password",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_shop_name",
      "label": "Show shop name",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Custom logo"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Custom logo width (in pixels)",
      "min":50,
      "max":400,
      "default": 200,
      "step":5,
      "unit":"px"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image",
      "info": "2048px width recommended"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ]
}
{% endschema %}
