<!-- /sections/shoppable-blog.liquid -->

{% comment %} Settings {% endcomment %}

{%- liquid
  assign animation_delay = 250
  assign show_tags = section.settings.show_tags
  assign title = section.settings.title
  assign bg_color = section.settings.bg_color
  assign bg_color_brightness = bg_color | color_brightness

  if bg_color == 'rgba(0,0,0,0)' or bg_color == ''
    assign bg_color_brightness = settings.color_body_bg | color_brightness
  endif

  if bg_color_brightness < 45
    assign overlay = '#fff'
  else
    assign overlay = '#000'
  endif

  assign wrapper_class = 'wrapper'
  if section.settings.wrapper == 'full'
    assign wrapper_class = 'wrapper wrapper--full'
  endif
-%}

{%- style -%}
  #ShoppableBlog--{{ section.id }} {
    --overlay: {{ overlay }};
    {%- if bg_color != 'rgba(0,0,0,0)' and bg_color != '' -%}
      background-color: {{ bg_color }};
    {%- endif -%}
  }
{%- endstyle -%}

<section
  id="ShoppableBlog--{{ section.id }}"
  class="shoppable-blog"
  data-section-type="shoppable-blog"
  data-section-id="{{ section.id }}">

  {%- if title != blank -%}
    <div class="shoppable-blog__heading__container">
      <div class="{{ wrapper_class }}">
        <h2 class="shoppable-blog__heading section__heading">{{ title }}</h2>

        {%- if settings.show_spacer_lines -%}
          <hr>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  <div class="{{ wrapper_class }}">
    <div class="shoppable-blog__slider__container">
      <div class="shoppable-blog__slider" data-slider>

        {%- for block in section.blocks -%}
          {%- capture block_index -%}
            {%- cycle 3, 5, 7, 10, 4, 13, 18, 2, 6, 8 -%}
          {%- endcapture -%}

          {%- capture onboarding_article_tags -%}
            time_{{ block_index }} min read,

            {%- for i in (1..3) -%}
              {{- 'homepage.onboarding.blog.tag' | t -}}
              {%- unless forloop.index == 3 -%},{%- endunless -%}
            {%- endfor -%}
          {%- endcapture -%}

          {%- liquid
            assign article = articles[block.settings.article]
            assign layout = 'vertical'
            assign item_products = ''
            assign has_products = false

            unless article == empty
              assign article_url = article.url
              assign article_image_aspect_ratio = article.image.aspect_ratio | default: 1
              assign article_title = article.title
              assign article_tags = article.tags

              if article_image_aspect_ratio > 1
                assign layout = 'horizontal'
              endif

            else
              assign article_url = '#!'
              assign article_title = 'homepage.onboarding.blog.title' | t
              assign article_tags = onboarding_article_tags | split: ','
            endunless

            assign animations_enabled = settings.animations_enabled
            assign animation_anchor = '#ShoppableBlog--' | append: section.id
          -%}

          {%-  capture item_products -%}
            {%- for product in block.settings.product_list -%}
              {%- unless product == empty -%}
                {%- assign has_products = true -%}

                {%- if product.price == 0 -%}
                  {%- assign product_price = 'products.product.free' | t -%}
                {%- else -%}
                  {%- assign product_price = product.price | money -%}
                {%- endif -%}

                <a href="{{ product.url }}" class="blog-item__product blog-item__product--{{ forloop.index }}" data-item-product>
                  <div class="blog-item__product__image lazyload"
                    data-bgset="{% render 'bgset', image: product.featured_media.preview_image %}"
                    data-sizes="auto"
                    data-parent-fit="cover"
                  >
                  </div>
                  <div class="blog-item__product__details">
                    <h4 class="blog-item__product__title">{{ product.title | strip_html | escape }}</h4>
                    <p class="blog-item__product__price">{{ product_price }}</p>
                  </div>
                </a>
              {%- endunless -%}
            {%- endfor -%}

            {%- unless has_products -%}
              {%- for i in (1..3) -%}
                <a href="#!" class="blog-item__product blog-item__product--{{ forloop.index }}" data-item-product>
                  <div class="blog-item__product__image placeholder-svg">
                    {%- capture current -%}{%- cycle 1, 2, 3, 4 -%}{%- endcapture -%}
                    {{- 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg-filled' -}}
                  </div>
                  <div class="blog-item__product__details">
                    <h4 class="blog-item__product__title">{{ 'homepage.onboarding.product_title' | t }}</h4>
                    <p class="blog-item__product__price">{{ 10000 | money }}</p>
                  </div>
                </a>
              {%- endfor -%}
            {%- endunless -%}
          {%- endcapture -%}

          <div class="blog-item blog-item--{{ layout }}{% if article != empty and article.image == blank %} blog-item--no-image{% endif %}"
            data-item
            {{ block.shopify_attributes }}>
            <div class="blog-item__article" {% if animations_enabled %} data-aos="fade-up" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %}>
              <a href="{{ article_url }}" class="blog-item__article__link" aria-label="{{ article_title }}" title="{{ article_title }}">
                <div class="overlay"></div>

                {%- if article != empty -%}
                  {%- if article.image != blank -%}
                    <div class="blog-item__article__image lazyload"
                      data-bgset="{% render 'bgset', image: article.image %}"
                      data-sizes="auto"
                      data-parent-fit="cover"
                    ></div>
                    <noscript>
                      <div class="blog-item__article__image" style="background-image: url( {{ article.image | img_url: '1024x' }} );"></div>
                    </noscript>
                  {%- endif -%}
                {%- else -%}
                  <div class="blog-item__article__image placeholder-svg--overlayed">
                    {{- 'image' | placeholder_svg_tag: 'placeholder-svg-filled' -}}
                  </div>
                {%- endif -%}
              </a>

              <div class="blog-item__article__content">
                <h3 class="blog-item__article__title h4">{{ article_title }}</h3>

                {%- if article_tags != blank and show_tags -%}
                  {%- assign tag_time = '' -%}

                  <ul class="blog-item__article__tags">
                    {%- for tag in article_tags -%}
                      {%- assign article_handle_parts = article.handle | split: '/' -%}

                      {%- unless tag contains 'time_' -%}
                        {%- capture tag_url -%}
                          {%- unless article == empty -%}
                            {%- if routes.root_url != '/' -%}
                              {{ shop.url }}{{ routes.root_url }}/blogs/{{ article_handle_parts.first }}/tagged/{{ tag | handle }}
                            {%- else -%}
                              {{ shop.url }}/blogs/{{ article_handle_parts.first }}/tagged/{{ tag | handle }}
                            {%- endif -%}
                          {%- endunless -%}
                        {%- endcapture -%}

                        <li class="blog-item__article__tag">
                          <a href="{{ tag_url | default: '#!' }}">{{ tag }}</a>
                        </li>
                      {%- else -%}
                        {%- capture tag_time -%}
                          {%- assign tag_parts = tag | split: '_' -%}
                          <div class="blog-item__article__time">
                            {{- tag_parts.last -}}
                          </div>
                        {%- endcapture -%}
                      {%- endunless -%}
                    {%- endfor -%}
                  </ul>

                  {%- if tag_time != blank -%}
                    {{- tag_time -}}
                  {%- endif -%}
                {%- endif -%}
              </div>
            </div>

            {%- if has_products or article == empty -%}
              <button class="blog-item__button__show btn--quick" aria-label="{{ 'general.accessibility.show_products' | t }}" data-button-show>
                {%- render 'icon-shopping-bag' -%}
              </button>

              <div class="blog-item__products" data-item-products>
                <button class="blog-item__button__hide" aria-label="{{ 'general.accessibility.hide_products' | t }}" data-button-hide>
                  {%- render 'icon-close-small' -%}
                </button>

                <div class="blog-item__products__slider" data-item-products-slider>
                  {{- item_products -}}
                </div>
              </div>
            {%- endif -%}
          </div>
          {%- assign animation_delay = animation_delay | plus: 250 -%}
        {%- else -%}
          {%- render 'no-blocks' -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% comment %} Schema {% endcomment %}
{% schema %}
{
  "name": "Shoppable blog posts",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "wrapper",
      "label": "Width",
      "default": "normal",
      "options": [
        { "value": "normal", "label": "Normal" },
        { "value": "full", "label": "Wide" }
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        },
        {
          "type": "header",
          "content": "Featured products",
          "info": "Desktop only"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "Products",
          "limit": 3
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Shoppable blog posts",
      "blocks": [
        {
          "type": "article"
        },
        {
          "type": "article"
        },
        {
          "type": "article"
        },
        {
          "type": "article"
        },
        {
          "type": "article"
        },
        {
          "type": "article"
        }
      ]
    }
  ]
}
{% endschema %}
