<!-- /sections/testimonials.liquid -->
{%- liquid
  assign total_blocks = section.blocks.size
  assign bg_color = section.settings.bg_color
  assign text_size = section.settings.text_size | times: 0.01
  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#Testimonials--' | append: section.id
  assign animation_delay = 0

  assign wrapper_class = 'wrapper'
  if section.settings.wrapper == 'full'
    assign wrapper_class = 'wrapper wrapper--full'
  endif
-%}

{%- style -%}
  #Testimonials--{{ section.id }} .testimonial__item {
    --COLOR-BLACK-WHITE: {{ section.settings.border_color }};
    border-width: {{ section.settings.border_width }}px;
  }
  {%- if bg_color != 'rgba(0,0,0,0)' and bg_color != '' -%}
      #Testimonials--{{ section.id }} { background: {{ bg_color }}; }
  {%- endif -%}
  #Testimonials--{{ section.id }} .testimonial__text { --adjust-body: calc(var(--FONT-ADJUST-BODY) * {{ text_size }}); }
  {%- if text_size > 1.5 -%}
    @media screen and (max-width: 480px) { #Testimonials--{{ section.id }} .testimonial__text {font-size: 12px; }}
  {%- endif -%}
{%- endstyle -%}

<section id="Testimonials--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="testimonials" class="testimonials-section has-quotes">
  <div class="{{ wrapper_class }}">
    {%- if section.settings.title != blank -%}
      <h2 class="testimonials__header testimonials__header--{{ section.settings.text_alignment }}">{{ section.settings.title | escape }}</h2>
    {%- endif -%}

    <div class="testimonials__wrapper">
      <div class="testimonials__slider testimonials__slider--{{ section.settings.text_alignment }} testimonials__slider--blocks-{{ total_blocks }}"
        data-slider>

        {%- if total_blocks > 0 -%}
          {%- for block in section.blocks -%}
            {%- liquid
              assign star_rating = block.settings.star_rating
              assign text_size = block.settings.text_size | times: 0.01
              assign percent = star_rating | divided_by: 5.0 | times: 100
              assign animation_delay = animation_delay | plus: 250
            -%}

            {%- case block.type -%}

              {%- when 'testimonial' -%}
                {%- render 'testimonial-item',
                  block_shopify_attributes: block.shopify_attributes,
                  block_id: block.id,
                  customer_name: block.settings.customer_name,
                  subheading: block.settings.subheading,
                  text: block.settings.text,
                  star_rating: star_rating,
                  percent: percent,
                  animations_enabled: animations_enabled,
                  animation_anchor: animation_anchor,
                  animation_delay: animation_delay,
                  override_border: block.settings.override_border,
                  border_color: block.settings.border_color,
                  border_width: block.settings.border_width
                -%}

              {%- when 'text' -%}
                {%- render 'testimonial-text',
                  block_shopify_attributes: block.shopify_attributes,
                  block_id: block.id,
                  heading: block.settings.heading,
                  subheading: block.settings.subheading,
                  block_color: block.settings.block_color,
                  text_color: block.settings.text_color,
                  text_size: text_size,
                  text_alignment: block.settings.text_alignment,
                  percent: percent,
                  animations_enabled: animations_enabled,
                  animation_anchor: animation_anchor,
                  animation_delay: animation_delay,
                  override_border: block.settings.override_border,
                  border_color: block.settings.border_color,
                  border_width: block.settings.border_width
                -%}

            {%- endcase -%}
          {%- endfor -%}
        {%- else -%}
          {%- render 'no-blocks' -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Testimonials",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Testimonials"
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "Heading size",
      "default": 100,
      "min": 100,
      "max": 200,
      "step": 5,
      "unit": "%"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "text-left",
      "options": [
        { "label": "Center", "value": "text-center" },
        { "label": "Left", "value": "text-left" }
      ]
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "wrapper",
      "label": "Width",
      "default": "full",
      "options": [
        { "value": "normal", "label": "Normal" },
        { "value": "full", "label": "Wide" }
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border width",
      "default": 2
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "range",
          "id": "star_rating",
          "label": "Review star rating",
          "min": 0,
          "max": 5,
          "step": 1,
          "default": 5,
          "info": "Set 0 to hide stars"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Testimonial",
          "default": "<p>Excellent customer service. I love their products!</p>"
        },
        {
          "type": "text",
          "id": "customer_name",
          "label": "Customer name",
          "default": "John Edmonson"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Text",
          "default": "<p>Loyal Customer</p>"
        },
        {
          "type": "checkbox",
          "id": "override_border",
          "label": "Override border",
          "default": false
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Border color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "border_width",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Border width",
          "default": 2
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "heading",
          "label": "Heading",
          "default": "We let our reviews speak for themselves."
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Heading size",
          "default": 125,
          "min": 100,
          "max": 200,
          "step": 5,
          "unit": "%"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Text",
          "default": "<p>4.98 average<br>213 reviews</p>"
        },
        {
          "type": "color",
          "id": "block_color",
          "label": "Block color",
          "default": "#000"
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Text color",
          "default": "text-light",
          "options": [
            {
              "value": "text-light",
              "label": "Light"
            },
            {
              "value": "text-dark",
              "label": "Dark"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "override_border",
          "label": "Override border",
          "default": false
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Border color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "border_width",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "px",
          "label": "Border width",
          "default": 2
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "default": "text-left",
          "options": [
            {
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-left",
              "label": "Left"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Text",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "testimonial",
          "settings": {
            "customer_name": "John Edmonson",
             "text": "<p>Excellent customer service. I love their products!<\/p>",
            "subheading": "<p>Happy customer</p>"
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "customer_name":"Lindsay Smith",
            "text": "<p>Excellent customer service. I love their products!<\/p>",
            "subheading": "<p>Los Angeles, CA</p>"
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "customer_name":"Eric Lopez",
            "text": "<p>Excellent customer service. I love their products!<\/p>",
            "subheading": "<p>12 days ago</p>"
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "customer_name": "Sandy Boone",
            "text": "<p>Excellent customer service. I love their products!<\/p>",
            "subheading": "<p>Verified customer</p>"
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "customer_name": "Dmitri Kristov",
            "text": "<p>Excellent customer service. I love their products!<\/p>",
            "subheading": "<p>Verified customer</p>"
          }
        },
        {
          "type": "testimonial",
          "settings": {
            "customer_name": "Amelia Ngoy",
            "text": "<p>Excellent customer service. I love their products!<\/p>",
            "subheading": "<p>Verified customer</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}