{% comment %} /sections/image-accordion.liquid {% endcomment %}

{%- liquid
  assign wrapper = section.settings.wrapper
  assign add_spacing = section.settings.add_spacing
  assign accordion_height = section.settings.accordion_height
  assign animations_enabled = settings.animations_enabled
  assign animation_delay = 250
  assign show_text_shadow = settings.show_text_shadow
  assign blocks_size = section.blocks.size
  assign heading_size = section.settings.heading_size | times: 0.01

  assign cover = false
  if wrapper == 'full' and add_spacing == false
    assign cover = true
  endif

  assign wrapper_class = 'wrapper'
  if wrapper == 'full'
    assign wrapper_class = 'wrapper wrapper--full'
  endif

  if cover
    assign wrapper_class = ''
  endif
-%}

{%- style -%}
  #ImageAccordions--{{ section.id }} .main-heading {
    --adjust-heading: calc(var(--FONT-ADJUST-HEADING) * {{ heading_size }});
  }
  @media screen and (max-width: 479px) {
    #ImageAccordions--{{ section.id }} .main-heading { --adjust-heading: calc(var(--FONT-ADJUST-HEADING) * {{ heading_size | at_most: 1.5 }}); }
  }
{%- endstyle -%}

<section id="ImageAccordions"
  class="{% unless cover %}vertical-padding{% endunless %}"
  {% unless cover %} data-prevent-transparent-header{% endunless %}
  data-section-id="{{ section.id }}"
  data-section-type="image-accordions"
  aria-label="Image accordion">
  <div class="{{ wrapper_class }}">
    {%- if section.blocks.size > 0 -%}
      <div class="image-accordions image-accordions--{{ blocks_size }} {{ accordion_height }}{% unless cover %} image-accordions--spacing{% endunless %}">
        {%- for block in section.blocks -%}
          {%- liquid
            assign image = block.settings.image
            assign image_mobile = block.settings.image_mobile
            assign title = block.settings.title
            assign text = block.settings.text
            assign text_color = block.settings.text_color
            assign text_position = block.settings.text_position
            assign text_width = block.settings.text_width
            assign bg_position = block.settings.bg_position
            assign overlay_opacity = block.settings.overlay_opacity | times: 0.01
            assign image_link = false
            assign btn_text = block.settings.btn_text
            assign btn_link = block.settings.btn_link
            assign btn_style = block.settings.btn_style
            assign btn_text_2 = block.settings.btn_text_2
            assign btn_link_2 = block.settings.btn_link_2
            assign btn_style_2 = block.settings.btn_style_2
            assign animation_delay = 500

            assign image_link = false
            if btn_link != blank and btn_text_2 == blank
              assign image_link = true
            elsif btn_text == blank and btn_link == blank and btn_link_2 != blank
              assign image_link = true
              assign btn_link = btn_link_2
            endif
          -%}

          <div class="image-accordion image-accordion--{{ block.id }} item--{{ text_position }} {{ text_color }}{% if forloop.first %} is-expanded{% endif%}" data-accordion-item {{ block.shopify_attributes }}>
            {%- style -%}
              #ImageAccordions .image-accordion--{{ block.id }} { --overlay-opacity: {{ overlay_opacity }}; }
            {%- endstyle -%}

            <div class="image-accordion__inner">
              {%- if image_link -%}
                <a href="{{ btn_link }}" class="image-accordion__link" data-accordion-button>
              {%- endif -%}

              <div class="overlay"></div>

              <div class="image-accordion__image__wrapper">
                {%- if image_mobile -%}
                  <div class="image-accordion__image__container image-accordion__image__container--mobile lazy-image" style="background: url({{ image_mobile | img_url: '1x1' }});">
                    {%- liquid
                      assign img_url = image_mobile | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
                      assign image_widths = "[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]"
                      assign img_alt = image_mobile.alt | default: title | strip_html | escape
                    -%}

                    <img class="image-accordion__image__bg image-accordion__image__bg--{{ bg_position }} lazyload"
                      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      alt="{{ img_alt }}"
                      data-src="{{ img_url }}"
                      data-widths="{{ image_widths }}"
                      data-aspectratio="{{ image_mobile.aspect_ratio }}"
                      data-parent-fit="cover"
                      data-sizes="auto">
                    <noscript>
                      <img class="image-accordion__image__bg image-accordion__image__bg--{{ bg_position }}" src="{{ image | img_url: '1024x' }}" alt="{{ img_alt }}"/>
                    </noscript>
                  </div>
                {%- endif -%}

                <div class="image-accordion__image__container image-accordion__image__container--desktop lazy-image" style="background: url({{ image | img_url: '1x1' }});">
                  {%- if image -%}
                    {%- liquid
                      assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
                      assign image_widths = "[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]"
                      assign img_alt = image.alt | default: title | strip_html | escape
                    -%}

                    <img class="image-accordion__image__bg image-accordion__image__bg--{{ bg_position }} lazyload"
                      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      alt="{{ img_alt }}"
                      data-src="{{ img_url }}"
                      data-widths="{{ image_widths }}"
                      data-aspectratio="{{ image.aspect_ratio }}"
                      data-parent-fit="cover"
                      data-sizes="auto">
                    <noscript>
                      <img class="image-accordion__image__bg image-accordion__image__bg--{{ bg_position }}" src="{{ image | img_url: '1024x' }}" alt="{{ img_alt }}"/>
                    </noscript>
                  {%- else -%}
                    <div class="image-accordion__image__bg image-accordion__image--desktop image-accordion__image--placeholder">
                      <div class="image-accordion__image__svg">
                        {%- capture index -%}{% cycle 1, 2 %}{%- endcapture -%}
                        {{- 'lifestyle-' | append: index | placeholder_svg_tag: 'placeholder-svg-filled' -}}
                      </div>
                    </div>
                  {%- endif -%}
                </div>
              </div>

              {%- unless title == blank and text == blank -%}
                <div
                  class="image-accordion__text slide__text__container{% if show_text_shadow %} backdrop--radial{% endif %}"
                  {% if animations_enabled %}
                    data-aos="fade"
                    data-aos-delay="{{ animation_delay }}"
                  {% endif %}
                >
                  <div class="slide__text__wrapper slide__text__wrapper--{{ text_width }}">
                    <div class="image-accordion-content">
                      {%- if title != blank -%}
                        <h2 class="main-heading">
                          {%- liquid
                            if animations_enabled
                              assign title_lines = title | escape | newline_to_br | split: '<br />'
                              for line in title_lines
                                echo '<span class="text-reveal__cropper"><span data-aos="come-up" data-aos-delay="' | append: animation_delay | append: '">'
                                echo line
                                echo '</span></span>'

                                unless forloop.last
                                  assign animation_delay = animation_delay | plus: 250
                                endunless
                              endfor

                              assign animation_delay = animation_delay | plus: 250
                            else
                              echo title | escape
                            endif
                          -%}
                        </h2>
                      {%- endif -%}
                      {%- if text != blank -%}
                        <h2 class="image-accordion__text__content main-text">
                          {%- liquid
                            if animations_enabled
                              assign text_lines = text | escape | newline_to_br | split: '<br />'
                              for line in text_lines
                                echo '<span class="text-reveal__cropper"><span data-aos="come-up" data-aos-delay="' | append: animation_delay | append: '">'
                                echo line
                                echo '</span></span>'

                                unless forloop.last
                                  assign animation_delay = animation_delay | plus: 250
                                endunless
                              endfor

                              assign animation_delay = animation_delay | plus: 550
                            else
                              echo text | escape | newline_to_br
                            endif
                          -%}
                        </h2>
                      {%- endif -%}
                    </div>
                    {%- if title != blank -%}
                      <h2 class="right-heading">
                        {%- liquid
                          if animations_enabled
                            assign title_lines = title | escape | newline_to_br | split: '<br />'
                            for line in title_lines
                              echo '<span class="text-reveal__cropper"><span data-aos="come-up" data-aos-delay="' | append: animation_delay | append: '">'
                              echo line
                              echo '</span></span>'

                              unless forloop.last
                                assign animation_delay = animation_delay | plus: 250
                              endunless
                            endfor

                            assign animation_delay = animation_delay | plus: 250
                          else
                            echo title | escape
                          endif
                        -%}
                        <i class="fa fa-caret-down"></i>
                      </h2>
                    {%- endif -%}
                    {%- if btn_text != blank or btn_text_2 != blank -%}
                      <div class="image-accordion__text__buttons main-buttons">
                        {%- if btn_text != blank -%}
                          <div class="main-buttons__item"{% if animations_enabled %} data-aos="fade" data-aos-delay="{{ animation_delay }}"{% endif %}>
                            {%- unless image_link -%}
                              <a class="slide__btn btn btn--{{ btn_style }}" href="{{ btn_link | default: '#!' }}" data-accordion-button>{{ btn_text }}</a>
                            {%- else -%}
                              <span class="slide__btn btn btn--{{ btn_style }}">{{ btn_text }}</span>
                            {%- endunless -%}
                          </div>
                          {%- assign animation_delay = animation_delay | plus: 150 -%}
                        {%- endif -%}

                        {%- if btn_text_2 != blank -%}
                          <div class="main-buttons__item"{% if animations_enabled %} data-aos="fade" data-aos-delay="{{ animation_delay }}"{% endif %}>
                            {%- unless image_link -%}
                              <a class="slide__btn btn btn--{{ btn_style_2 }}" href="{{ btn_link_2 | default: '#!' }}" data-accordion-button>{{ btn_text_2 }}</a>
                            {%- else -%}
                              <span class="slide__btn btn btn--{{ btn_style_2 }}">{{ btn_text_2 }}</span>
                            {%- endunless -%}
                          </div>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              {%- endunless -%}

              {%- if image_link -%}
                </a>
              {%- endif -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    {%- else -%}
      {%- render 'no-blocks' -%}
    {%- endif -%}
  </div>
</section>

{% schema %}
  {
    "name": "Image accordions",
    "max_blocks": 4,
    "class": "transparent-header",
    "settings": [
      {
        "type": "header",
        "content": "layout"
      },
      {
        "type": "select",
        "id": "wrapper",
        "label": "Width",
        "default": "normal",
        "options": [
          { "value": "normal", "label": "Normal" },
          { "value": "full", "label": "Wide" }
        ]
      },
      {
        "type": "checkbox",
        "id": "add_spacing",
        "label": "Add padding",
        "default": true,
        "info": "Affects only wide width layout"
      },
      {
        "type": "select",
        "id": "accordion_height",
        "label": "Height",
        "default": "six-fifty-height",
        "options": [
          { "value": "full-height", "label": "Full screen" },
          { "value": "seven-fifty-height", "label": "750px" },
          { "value": "six-fifty-height", "label": "650px" },
          { "value": "five-fifty-height ", "label": "550px" },
          { "value": "four-fifty-height", "label": "450px" }
        ]
      },
      {
        "type": "header",
        "content": "Heading"
      },
      {
        "type": "range",
        "id": "heading_size",
        "label": "Size",
        "default": 100,
        "min": 75,
        "max": 150,
        "step": 5,
        "unit": "%"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "2048px width recommended"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Mobile image",
            "info": "Optional"
          },
          {
            "type": "select",
            "id": "bg_position",
            "label": "Position",
            "default": "center-center",
            "options": [
              { "label": "Top", "value": "center-top" },
              { "label": "Right", "value": "right-center" },
              { "label": "Center", "value": "center-center" },
              { "label": "Left", "value": "left-center" },
              { "label": "Bottom", "value": "center-bottom" }
            ]
          },
          {
            "type": "range",
            "id": "overlay_opacity",
            "label": "Text contrast",
            "info": "Improves readability of text",
            "min": 0,
            "max": 95,
            "step": 5,
            "unit": "%",
            "default": 10
          },
          {
            "type": "header",
            "content": "Text"
          },
          {
            "type": "select",
            "id": "text_width",
            "label": "Width",
            "default": "full",
            "options": [
              { "label": "Narrow", "value": "narrow" },
              { "label": "Normal", "value": "normal" },
              { "label": "Wide", "value": "full" }
            ]
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "Position",
            "default": "left",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" },
              { "value": "bottom-left", "label": "Bottom left" },
              { "value": "bottom-right", "label": "Bottom right" },
              { "value": "top-left", "label": "Top left" },
              { "value": "top-right", "label": "Top right" }
            ]
          },
          {
            "type": "select",
            "id": "text_color",
            "label": "Color",
            "default": "text-light",
            "options": [
              { "value": "text-light", "label": "Light" },
              { "value": "text-dark", "label": "Dark" }
            ]
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Heading",
            "default": "Welcome to Palo Alto"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "This text helps you provide some more detail to the title above."
          },
          {
            "type": "header",
            "content": "Button 1"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "Text",
            "info": "Leave blank to link entire image"
          },
          {
            "type": "url",
            "id": "btn_link",
            "label": "Link"
          },
          {
            "type": "select",
            "id": "btn_style",
            "label": "Style",
            "default": "primary",
            "options": [
              { "label": "Text", "value": "text" },
              { "label": "Small button", "value": "primary btn--small" },
              { "label": "Large button", "value": "primary" },
              { "label": "Small outline button", "value": "secondary btn--small" },
              { "label": "Large outline button", "value": "secondary" }
            ]
          },
          {
            "type": "header",
            "content": "Button 2"
          },
          {
            "type": "text",
            "id": "btn_text_2",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "btn_link_2",
            "label": "Link"
          },
          {
            "type": "select",
            "id": "btn_style_2",
            "label": "Style",
            "default": "secondary",
            "options": [
              { "label": "Text", "value": "text" },
              { "label": "Small button", "value": "primary btn--small" },
              { "label": "Large button", "value": "primary" },
              { "label": "Small outline button", "value": "secondary btn--small" },
              { "label": "Large outline button", "value": "secondary" }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image accordions",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}