{%- comment -%} /sections/newsletter.liquid {%- endcomment -%}
{%- liquid
  assign unique = section.id
  assign wrapper = section.settings.wrapper
  assign title = section.settings.title
  assign text = section.settings.text
  assign bg_color = section.settings.bg_color
  assign image = section.settings.image
  assign image_position = section.settings.image_position
  assign image_bg_pos = image_position | prepend: 'bg-pos-'
  assign overlay_opacity = section.settings.overlay_opacity | times: 0.01
  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#Newsletter--' | append: section.id
  assign animation_delay = 250

  assign wrapper_class = 'wrapper'
  if wrapper == 'full'
    assign wrapper_class = 'wrapper wrapper--full'
  endif
-%}
{%- style -%}
  #Newsletter--{{ section.id }} {
    {%- if bg_color != 'rgba(0,0,0,0)' and bg_color != '' -%}
      --bg: {{ bg_color }};
      background: {{ bg_color }};
    {%- endif -%}
      --overlay-opacity: {{ overlay_opacity }};
    }
{%- endstyle -%}

<section
  class="newsletter-section{% if image %} {{ section.settings.image_height }}{% endif %} {{ section.settings.text_color }}"
  id="Newsletter--{{ unique }}"
  data-section-id="{{ unique }}"
  data-section-type="newsletter"
  data-overflow-container>
  {%- if image -%}
    <div
      class="newsletter-section__bg {{ image_bg_pos }} lazyload"
      data-bgset="{% render 'bgset', image: image %}"
      data-sizes="auto"
      data-parent-fit="cover"
      {% if animations_enabled %}data-aos="fade" data-aos-anchor="{{ animation_anchor }}"{% endif %}
      ></div>
    <noscript>
      <div class="newsletter-section__bg {{ image_bg_pos }}" style="background-image: url('{{ image | img_url:'2048x' }}');"></div>
    </noscript>
    <div class="overlay"></div>
  {%- endif -%}

  <div class="{{ wrapper_class }}">
    <div class="newsletter-section__content__wrapper {{ section.settings.flex_align }}">
      <div class="newsletter-section__content" data-overflow-content>
        <div class="newsletter-section__entry">
          {%- if title != blank -%}
            <h2{% if animations_enabled %} data-aos="fade-up" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %}>
              {{- title | escape -}}
            </h2>
            {%- assign animation_delay = animation_delay | plus: 250 -%}
          {%- endif -%}

          {%- if text != blank -%}
            <div{% if animations_enabled %} data-aos="fade-up" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %}>
              {{- text -}}
            </div>
            {%- assign animation_delay = animation_delay | plus: 250 -%}
          {%- endif -%}
        </div>

        <div class="newsletter"{% if animations_enabled %} data-aos="fade-up" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %}>
          {%- render 'newsletter-form', unique: unique, extra_fields: section.settings.extra_fields, button_text: section.settings.button_text -%}
        </div>

        {%- for block in section.blocks -%}
          {%- render block -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "flex_align",
        "label": "Position",
        "default": "align--middle-left",
        "options": [
          { "value": "align--middle-left", "label": "Left" },
          { "value": "align--middle-center", "label": "Center" },
          { "value": "align--middle-right", "label": "Right" },
          { "value": "align--middle-split", "label": "Split" }
        ]
      },
      {
        "type": "select",
        "id": "wrapper",
        "label": "Width",
        "default": "normal",
        "options": [
          { "value": "normal", "label": "Normal" },
          { "value": "full", "label": "Wide" }
        ]
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Color",
        "default": "text-dark",
        "options": [
          {
            "value": "text-light",
            "label": "Light"
          },
          {
            "value": "text-dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Newsletter"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Sign up for exclusive deals and early access to new products.</p>"
      },
      {
        "type": "paragraph",
        "content": "Subscribers are under 'Accepts Marketing' in your [customer admin](/admin/customers)."
      },
      {
        "type": "header",
        "content": "Additional field"
      },
      {
        "type": "select",
        "id": "extra_fields",
        "label": "Additional fields",
        "default": "",
        "options": [
          { "value": "", "label": "None" },
          { "value": "name", "label": "Name" },
          { "value": "first-last-name", "label": "First and last name" }
        ] 
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text"
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Color"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "image_height",
        "label": "Height",
        "default": "three-fifty-height",
        "options": [
          { "value": "full-height", "label": "Full screen" },
          { "value": "five-fifty-height", "label": "550px" },
          { "value": "four-fifty-height", "label": "450px" },
          { "value": "three-fifty-height", "label": "350px" },
          { "value": "two-fifty-height", "label": "250px" }
        ]
      },
      {
        "type": "select",
        "label": "Position",
        "id": "image_position",
        "default": "center-center",
        "options": [
          { "label": "Top", "value": "center-top" },
          { "label": "Right", "value": "right-center" },
          { "label": "Center", "value": "center-center" },
          { "label": "Left", "value": "left-center" },
          { "label": "Bottom", "value": "center-bottom" }
        ]
      },
      {
        "type": "header",
        "content": "Overlay"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Text contrast",
        "info": "Improves readability of text",
        "min": 0,
        "max": 95,
        "step": 5,
        "unit": "%",
        "default": 10
      }
    ],
    "blocks": [
      {
        "type": "@app"
      }
    ],
    "presets": [
      {
        "name": "Newsletter",
        "category": "Text"
      }
    ]
  }
{% endschema %}
