<!-- /sections/featured-collection.liquid -->
{%- liquid
  assign collection = collections[section.settings.collection] | default: false
  assign products = collection.products
  assign heading =  section.settings.title
  assign description = section.settings.description
  assign columns = settings.products_per_row_on_desktop | plus: 0
  assign columns_small = columns | at_most: 2
  assign columns_mobile = settings.products_per_row_on_mobile | plus: 0
  assign products_rows = section.settings.products_rows | plus: 0
  assign products_limit = columns | times: products_rows
  assign layout = section.settings.products_layout
  assign bg_color = section.settings.bg_color
  assign spacing_range = section.settings.spacing_range
  assign show_collection = section.settings.show_collection
  assign color_change = section.settings.enable_color_change

  assign carousel = false
  if layout == 'carousel'
    assign carousel = true
  endif

  assign mobile_class = ' grid--mobile'
  if section.settings.enable_slider_mobile
    assign mobile_class = ' carousel--mobile'
  endif
  
  assign inline_styles = ""
  if section.settings.heading_alignment
  	assign inline_styles = "text-align:left"
  endif
  
  if section.settings.show_description and section.settings.heading_alignment
  	assign inline_styles = inline_styles | append: ";margin-bottom:30px"
  elsif section.settings.show_description
    assign inline_styles = "margin-bottom:30px"
  endif
-%}

{%- style -%}
  {%- if section.settings.remove_top_padding -%}
    #FeaturedCollection--{{ section.id }} {
      padding-top: 0;
    }
  {%- endif -%}
  {%- if bg_color != 'rgba(0,0,0,0)' and bg_color != '' -%}
    #FeaturedCollection--{{ section.id }} {
      background-color: {{ bg_color }};
    }
    #FeaturedCollection--{{ section.id }} .product-grid-item {
      --bg: {{ bg_color }};
    }
  {%- endif -%}

  @media screen and (min-width: 1024px) {
    #FeaturedCollection--{{ section.id }} {
      --grid: repeat({{ columns }}, minmax(0, 1fr));
    }
  }

  @media screen and (min-width: 480px) and (max-width: 1023px) {
    #FeaturedCollection--{{ section.id }} {
      --grid: repeat({{ columns_small }}, minmax(0, 1fr));
    }
  }

  @media screen and (max-width: 479px) {
    #FeaturedCollection--{{ section.id }} {
      --grid-mobile: repeat({{ columns_mobile }}, minmax(0, 1fr));
    }
  }
{%- endstyle -%}

<section
  id="FeaturedCollection--{{ section.id }}"
  class="featured-collection featured-collection--{{ layout }} {% if section.settings.remove_margin_bottom %}remove-margin-bottom{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="featured-collection"
  data-columns="{% if color_change %}2{% else %}{{ columns }}{% endif %}"">
  
  {%  comment %}Background change effect from Featured collection sections{%  endcomment %}
  {%- if color_change -%}
    <div class='circle'></div>
  {%- endif -%}

  {%- if heading != blank and collection.handle != 'all' -%}
    <div class="featured-collection__title">
      <div class="{% if section.settings.heading_alignment %}wrapper wrapper--narrow{% else %}wrapper wrapper--full{% endif %}" {% if section.settings.heading_alignment %}style="margin:0;"{% endif %}>
        <h2 class="section__heading" {% if section.settings.heading_alignment or section.settings.show_description %}style="{{ inline_styles }}"{% endif %}><div style="letter-spacing: {{spacing_range}}px">{{ heading }}</div></h2>
        <div class="section_desc" style="{{ inline_styles }}"> {{description }}</div>
        {%- if section.settings.show_collection_button -%}
        <div{% if settings.animations_enabled %} data-aos="fade-up" data-aos-delay="{{ columns | plus: 1 | times: 150 }}" data-aos-anchor="#FeaturedCollection--{{ section.id }}"{% endif %} style="{{ inline_styles }}">
          <a class="btn btn--{{ section.settings.button_style }} btn--view-all" href="{{ collection.url | default: '#!' }}">{{ show_collection }}</a>
        </div>
      {%- endif -%}
		{% if section.settings.show_description and collection.metafields.my_fields.collection_description != "blank" %}
        <p class="featured-collection__description" style="{{ inline_styles }}">{{ collection.metafields.my_fields.collection_description }}</p>
        {% endif %}
        {%- if settings.show_spacer_lines -%}
          <hr>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  <div class="wrapper wrapper--full">
    <div class="featured-collection__container {% if carousel %}carousel__container{% else %}grid__container{% endif %}">
      <div id="Carousel-{{ section.id }}" class="{% if carousel %}carousel{% else %}grid{% endif %}{{ mobile_class }}{% if products.size == 0 %} featured-collection--empty{% endif %}"{% if carousel %} data-slider data-slider-id="slider--{{ section.id }}"{% endif %}>
        {%- if collection -%}
          {% comment %} Check if there are any products in the collection {% endcomment %}
          {%- if products.size > 0 -%}
            {%- for product in collection.products limit: products_limit -%}
              {%- if carousel -%}
                {%- assign animation_delay = forloop.index0 -%}
              {%- else -%}
                {%- assign assign columns = settings.products_per_row_on_desktop | plus: 0 -%}
                {%- assign animation_delay = forloop.index0 | modulo: columns | times: 1 -%}
              {%- endif -%}
              {%- render 'product-grid-item', product: product, carousel: carousel, animation_delay: animation_delay -%}
            {%- endfor -%}
          {%- else -%}
            <div class="collection--no-results">
              <p>{{ 'collections.general.no_matches' | t }}</p>
            </div>
          {%- endif -%}
        {%- else -%}
          {%- for i in (1..products_limit) -%}
            {%- capture index -%}{%- cycle 1,2,3,4,5,6 -%}{%- endcapture -%}
            {%- if carousel -%}
              {%- assign animation_delay = forloop.index0 -%}
            {%- else -%}
              {%- assign assign columns = settings.products_per_row_on_desktop | plus: 0 -%}
              {%- assign animation_delay = forloop.index0 | modulo: columns | times: 1 -%}
            {%- endif -%}
            {%- render 'product-grid-item--onboarding', carousel: carousel, index: index, animation_delay: animation_delay -%}
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</section>

{% if color_change %}
  <script> 
    window.addEventListener('load', function() {
  
      const newShade = (hexColor, magnitude) => {
        hexColor = hexColor.replace(`#`, ``);
        if (hexColor.length === 6) {
            const decimalColor = parseInt(hexColor, 16);
            let r = (decimalColor >> 16) + magnitude;
            r > 255 && (r = 255);
            r < 0 && (r = 0);
            let g = (decimalColor & 0x0000ff) + magnitude;
            g > 255 && (g = 255);
            g < 0 && (g = 0);
            let b = ((decimalColor >> 8) & 0x00ff) + magnitude;
            b > 255 && (b = 255);
            b < 0 && (b = 0);
            return `#${(g | (b << 8) | (r << 16)).toString(16)}`;
        } else {
            return hexColor;
        }
      };

      const doc = document.documentElement
      const container = document.getElementById('FeaturedCollection--{{ section.id }}')
      const circle = document.querySelector('.circle')
  
      const flkty = Flickity.data('#Carousel-{{ section.id }}');
      flkty.on('select', function(e){
  
        let colorBg, colorText, colorBorder;
    
        switch (flkty.selectedIndex) {
          case 1:
            colorBg = '{{ section.settings.color_1_bg }}';
            {%- assign contrast = section.settings.color_1_bg | color_contrast: '#000000' -%}
            {%- if contrast < 4.5 -%}
              colorText = '#ffffff';
              colorBorder = newShade(colorBg, 30);
            {%- else -%}
              colorText = '#000000';
              colorBorder = newShade(colorBg, -30);
            {%- endif -%}
            break;
          case 2:
            colorBg = '{{ section.settings.color_2_bg }}';
            {%- assign contrast = section.settings.color_2_bg | color_contrast: '#000000' -%}
            {%- if contrast < 4.5 -%}
              colorText = '#ffffff';
              colorBorder = newShade(colorBg, 30);
            {%- else -%}
              colorText = '#000000';
              colorBorder = newShade(colorBg, -30);
            {%- endif -%}
            break;
          case 3:
            colorBg = '{{ section.settings.color_3_bg }}';
            {%- assign contrast = section.settings.color_3_bg | color_contrast: '#000000' -%}
            {%- if contrast < 4.5 -%}
              colorText = '#ffffff';
              colorBorder = newShade(colorBg, 30);
            {%- else -%}
              colorText = '#000000';
              colorBorder = newShade(colorBg, -30);
            {%- endif -%}
            break;
          case 4:
            colorBg = '{{ section.settings.color_4_bg }}';
            {%- assign contrast = section.settings.color_4_bg | color_contrast: '#000000' -%}
            {%- if contrast < 4.5 -%}
              colorText = '#ffffff';
              colorBorder = newShade(colorBg, 30);
            {%- else -%}
              colorText = '#000000';
              colorBorder = newShade(colorBg, -30);
            {%- endif -%}
            break;
          case 5:
            colorBg = '{{ section.settings.color_5_bg }}';
            {%- assign contrast = section.settings.color_5_bg | color_contrast: '#000' -%}
            {%- if contrast < 4.5 -%}
              colorText = '#ffffff';
              colorBorder = newShade(colorBg, 30);
            {%- else -%}
              colorText = '#000000';
              colorBorder = newShade(colorBg, -30);
            {%- endif -%}
            break;
          default:
            colorBg = '{{ bg_color }}';
            {%- assign contrast = bg_color | color_contrast: '#000' -%}
            {%- if contrast < 4.5 -%}
              colorText = '#ffffff';
              colorBorder = newShade(colorBg, 30);
            {%- else -%}
              colorText = '#000000';
              colorBorder = newShade(colorBg, -30);
            {%- endif -%}
        }
    
        circle.style.background = colorBg;
        circle.classList.add("transform");

        circle.addEventListener('animationend', function() {
    
          doc.style.setProperty('--dynamic-bg', colorBg);
          doc.style.setProperty('--dynamic-text', colorText);
          doc.style.setProperty('--dynamic-border', colorBorder);
  
          /*
          container.style.setProperty('--button-primary-bg', colorBg);
          container.style.setProperty('--button-primary-text', colorText);
          container.style.setProperty('--button-secondary-bg', colorBg);
          container.style.setProperty('--button-secondary-text', colorText);
          */
  
          circle.style.background = 'none';
          circle.classList.remove("transform");
        })
      })
    })
  </script>
    
  {% style %}
    :root {
      --dynamic-bg: {{ bg_color }};
      --dynamic-text: #000000;
      --dynamic-border: {{ bg_color | color_darken: 30 }};
    }
    
    @-webkit-keyframes expand {
      form {
        -webkit-transform: scale(0);
                transform: scale(0);
        border-radius: 100%;       
      }
      to {
        -webkit-transform: scale(1);
                transform: scale(1) 
        border-radius: 0%;
      }
    }
    @keyframes expand {
      form {
        -webkit-transform: scale(0);
                transform: scale(0);
        border-radius: 100%;       
      }
      to {
        -webkit-transform: scale(1);
                transform: scale(1);
        border-radius: 0%;
      }
    }
    
    .site-header,
    #FeaturedCollection--{{ section.id }} {
      background-color: var(--dynamic-bg);
      color: var(--dynamic-text);
      transition: border,color 400ms ease 0ms;
    }

    .site-header {
      transition: background 200ms ease 0ms, color 200ms ease 0ms;
    }

    #FeaturedCollection--{{ section.id }} {
      margin-top: calc(-1 * var(--first-section-padding));
      transition: border 200ms ease 0ms, color 200ms ease 0ms;
    }

    #FeaturedCollection--{{ section.id }} :is(h1,h2,h3,h4,h5,h6,p,a,.button) {     
      color: var(--dynamic-text);
    }

    #FeaturedCollection--{{ section.id }} .circle {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 100%;
      width: 200%;
      height: calc(100% + 12rem);
      transform: scale(0);
      transition: all 2000ms ease 0ms;
      transform-origin: bottom;
      will-change: transform;
    }
    
    #FeaturedCollection--{{ section.id }} .circle.transform {
      animation-name: expand;
      animation-duration: 2s;
    }
    
    #FeaturedCollection--{{ section.id }} .featured-collection__title {
      background: transparent;
    }
  
    #FeaturedCollection--{{ section.id }} .btn--secondary {
      background: none;
    }
  
    @media only screen and (min-width: 768px) {  
      #FeaturedCollection--{{ section.id }} {
        --grid-gutter: 0;
        border-top: 1px solid var(--dynamic-border);
        border-bottom: 1px solid var(--dynamic-border);
      }
      
      #FeaturedCollection--{{ section.id }} .featured-collection__title {
        background: none;
        width: 50%;
      }
      
      #FeaturedCollection--{{ section.id }} .wrapper.wrapper--full {
        border-left: 1px solid var(--dynamic-border);  
        overflow: hidden;
        padding: 0;
        width: 50%;
        transition: border 200ms ease 0ms;
      }

      #FeaturedCollection--{{ section.id }} .flickity-slider {
        height: 100%;
      }

      #FeaturedCollection--{{ section.id }} .carousel__item {
        border-right: 1px solid var(--dynamic-border);
        display: flex;
        align-items: stretch;
        min-height: 100%;
        width: 60%;
        transition: border 2000ms ease 0ms;
      }
      
      #FeaturedCollection--{{ section.id }} .product-grid-item__inner {
        width: 100%;
      }
  
      #FeaturedCollection--{{ section.id }} .product-grid-item__info {
        padding: 0 calc(var(--gutter) / 2);
      }
  
      #FeaturedCollection--{{ section.id }} .product-grid-item__image,
      #FeaturedCollection--{{ section.id }} .product__media__container {
        border-radius: 0;
      }

      #FeaturedCollection--{{ section.id }} .carousel > .flickity-prev-next-button {
        transition: background 200ms ease 0ms;
      }
    
      #FeaturedCollection--{{ section.id }} .carousel > .flickity-prev-next-button.previous {
        display: none;
      }
    
      #FeaturedCollection--{{ section.id }} .carousel > .flickity-prev-next-button.next {    
        opacity: 1;
        right: 39%;
        visibility: visible;
      }
    }
  {% endstyle %}
{%  endif %}

{% schema %}
{
  "name": "Featured collection",
  "class": "best-seller-collection-section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Heading",
      "default": "<p>Best Sellers</p>"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Add a description here.</p>"
    },
    {
      "type": "range",
      "id": "spacing_range",
      "min": -3,
      "max": 3,
      "step": 0.5,
      "unit": "px",
      "label": "Letter Spacing",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "heading_alignment",
      "label": "Left align title",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": false
    },
    {
      "type": "range",
      "id": "products_rows",
      "label": "Product rows",
      "default":2,
      "min": 1,
      "max": 12,
      "step": 1
    },
    {
      "type": "select",
      "id": "products_layout",
      "label": "Layout",
      "default": "grid",
      "options": [
        { "value": "grid", "label": "Grid" },
        { "value": "carousel", "label": "Carousel" }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_collection_button",
      "label": "Show collection link button",
      "default": true
    },
    {
      "type": "text",
      "id": "show_collection",
      "label": "Link Text",
      "default": "View Collection"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "options": [
        { "label": "Text", "value": "text" },
        { "label": "Small button", "value": "primary btn--small" },
        { "label": "Large button", "value": "primary" },
        { "label": "Small outline button", "value": "secondary btn--small" },
        { "label": "Large outline button", "value": "secondary" }
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Mobile slider"
    },
    {
      "type": "checkbox",
      "id": "enable_slider_mobile",
      "label": "Enable slider",
      "default": true,
      "info": "Horizontal slider in mobile layout."
    },
    {
      "type": "header",
      "content": "Remove top spacing"
    },
    {
      "type": "checkbox",
      "id": "remove_top_padding",
      "label": "Remove top padding",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_margin_bottom",
      "label": "Remove margin bottom",
      "default": false
    },
    {
      "type": "header",
      "content": "Background Color Change"
    },
    {
      "type": "checkbox",
      "id": "enable_color_change",
      "label": "Enable color change",
      "default": false
    } ,
      {
      "type": "color",
      "id": "color_1_bg",
      "label": "Background Color 1"
    },
     {
      "type": "color",
      "id": "color_2_bg",
      "label": "Background Color 2"
    },
     {
      "type": "color",
      "id": "color_3_bg",
      "label": "Background Color 3"
    },
     {
      "type": "color",
      "id": "color_4_bg",
      "label": "Background Color 4"
    },
     {
      "type": "color",
      "id": "color_5_bg",
      "label": "Background Color 5"
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
