{%- liquid
  assign bg_color = section.settings.bg_color
  assign equalize_height = section.settings.equalize_height
  assign columns = section.settings.columns
  assign heading_font_size = section.settings.heading_font_size
  assign text_width = section.settings.text_width
  assign remove_text_spacing = section.settings.remove_text_spacing

  case columns
    when 2
      assign item_width = 'one-half mobile--one-whole'
    when 3
      assign item_width = 'one-third mobile--one-whole'
    else
      assign item_width = 'one-quarter mobile--one-whole'
  endcase

  assign wrapper_class = 'wrapper'
  if section.settings.wrapper == 'full'
    assign wrapper_class = 'wrapper wrapper--full'
  endif

  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#SectionColumns--' | append: section.id
  assign animation_delay = 250
-%}


{%- style -%}
  .column__item__heading {
    font-size: {{heading_font_size}}px;
  }
  #SectionColumns--{{ section.id }} .column__item__heading { 
    {% if remove_text_spacing %}
      margin-bottom: 0;
    {% endif %}
  }
  #SectionColumns--{{ section.id }} .column__item__text { 
     width: {{ text_width }}%;
    {% if remove_text_spacing %}
      margin-bottom: 0;
    {% endif %}
  }
  {% if remove_text_spacing %}
    #SectionColumns--{{ section.id }} .column__item__text p {  
        margin-top: 0;
    }
  {% endif %}
  {%- if bg_color != 'rgba(0,0,0,0)' and bg_color != '' -%}
    #SectionColumns--{{ section.id }} { --bg: {{ bg_color }}; }
  {%- endif -%}
{%- endstyle -%}


<div id="SectionColumns--{{ section.id }}"
  class="section-columns {% if section.settings.remove_margin_bottom %}remove-margin-bottom{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="columns-with-image">
  <div class="{{ wrapper_class }}">

    {%- if section.settings.title != '' -%}
      <h2 class="section__heading">{{ section.settings.title }}</h2>

      {%- if settings.show_spacer_lines -%}
        <hr>
      {%- endif -%}
    {%- endif -%}

    <div class="section-columns__wrapper carousel__container {% if section.settings.disable_slider %}no-carousel-mobile{% endif %}">
      {%- if section.blocks.size > 0 -%}
        <div class="section-columns__slider carousel {% unless section.settings.disable_slider %}carousel--mobile{% endunless %}" data-slider>
          {%- for block in section.blocks -%}
            <div class="column__item carousel__item {{ item_width }} {{ section.settings.align_text }}"
            {{ block.shopify_attributes }}
            data-slider-item>
              <div class="column__item__inner" {% if animations_enabled %} data-aos="fade-up" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %}>
                {%- assign animation_delay = animation_delay | plus: 250 -%}
                {%- if section.settings.show_images -%}
                  <div class="column__item__image-wrapper" data-media-container>
                    {%- if block.settings.image != blank -%}
                      {%- liquid
                        assign image = block.settings.image
                        assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
                        assign img_alt = image.alt | default: block.settings.title | strip_html | escape

                        if equalize_height
                          assign aspect_ratio = section.settings.image_aspect_ratio
                        else
                          assign aspect_ratio = 1 | divided_by: image.aspect_ratio
                        endif
                      -%}
						{%- if block.settings.image_link != nil -%}
                          <a href="{{ block.settings.image_link }}" class="column__item__image lazy-image" style="padding-top: {{ aspect_ratio | times: 100 }}%; background-image: url('{{ image | img_url: '1x1' }}');">
                    	{%- else -%}
                          <div class="column__item__image lazy-image" style="padding-top: {{ aspect_ratio | times: 100 }}%; background-image: url('{{ image | img_url: '1x1' }}');">
                        {%- endif -%}
                            <img class="column__item__image__bg img-pos-{{ block.settings.bg_position }} lazyload"
                              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                              alt="{{ img_alt }}"
                              data-src="{{ img_url }}"
                              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]"
                              data-aspectratio="{{ image.aspect_ratio }}"
                              data-parent-fit="cover"
                              data-sizes="auto">
                            <noscript>
                              <img src="{{ image | img_url: '540x' }}" alt="{{ img_alt }}"/>
                            </noscript>
                        {%- if block.settings.image_link != nil -%}
                          </a>
                        {%- else -%}
                          </div>
                        {%- endif -%}
                    {%- else -%}
                      {%- liquid
                        if equalize_height
                          assign aspect_ratio = section.settings.image_aspect_ratio
                        else
                          assign aspect_ratio = 0.67
                        endif
                      -%}

                      <div class="column__item__image placeholder-svg--overlayed" style="padding-top: {{ aspect_ratio | times: 100 }}%;">
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg-filled column__item__image__bg' }}
                      </div>
                    {%- endif -%}

                    {%- assign video_url = block.settings.video_link -%}

                    {%- if block.settings.show_video and video_url -%}
                      {%- if video_url.type == 'youtube' -%}
                        {%- assign video_url = 'https://www.youtube.com/watch?v=' | append: video_url.id -%}
                      {%- elsif video_url.type == 'vimeo' -%}
                        {%- assign video_url = 'https://vimeo.com/' | append: video_url.id -%}
                      {%- endif -%}

                      <div class="column__item__video-link">
                        <a class="play-button" href="{{ video_url }}" data-play-button style="color:{{ block.settings.play_btn_color }};">
                          {%- render 'icon-play' -%}
                        </a>
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}

                <div class="column__item__content">
                  {%- if block.settings.title != blank -%}
                    <h3 class="column__item__heading h6">{{ block.settings.title | escape }}</h3>
                  {%- endif -%}

                  {%- if block.settings.text != blank -%}
                    <div class="column__item__text rte">{{ block.settings.text }}</div>
                    <a class="read_more">Read More</a>
                    <a class="read_less">Read Less</a>
                  {%- endif -%}

                  {%- if block.settings.button_text != '' -%}
                    <a href="{{ block.settings.button_link }}" class="column__item__button btn btn--{{ block.settings.button_style }}">
                      {{- block.settings.button_text -}}
                    </a>
                  {%- endif -%}
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}

      {%- if section.blocks.size == 0 -%}
        {%- render 'no-blocks' -%}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Text columns with images",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "wrapper",
        "label": "Width",
        "default": "normal",
        "options": [
          { "value": "normal", "label": "Normal" },
          { "value": "full", "label": "Wide" }
        ]
      },
      {
        "type": "range",
        "id": "columns",
        "label": "Columns per slide",
        "default": 3,
        "min": 2,
        "max": 4,
        "step": 1
      },
      {
        "type": "range",
        "id": "heading_font_size",
        "label": "Heading Size",
        "default": 20,
        "min": 20,
        "max": 36,
        "step": 2,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Style"
      },

      {
        "type": "color",
        "id": "bg_color",
        "label": "Background"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "text-left",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Centered"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "remove_text_spacing",
        "label": "Remove spacing",
        "info": "Remove the spacing between the heading and text",
        "default": false
      },
      {
          "type": "range",
          "id": "text_width",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Text width",
          "default": 100
      },
      {
        "type": "header",
        "content": "Height"
      },
      {
        "type": "checkbox",
        "id": "equalize_height",
        "label": "Equalize image heights",
        "default": true
      },
      {
        "type": "range",
        "id": "image_aspect_ratio",
        "min": 0.5,
        "max": 1.5,
        "step": 0.1,
        "unit": ":1",
        "label": "Photo height",
        "info": "Wide to tall",
        "default": 0.8
      },
      {
        "type": "checkbox",
        "id": "show_images",
        "label": "Show images",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "disable_slider",
        "label": "Disable slider on mobile",
        "info": "Disable the slider for mobile",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "remove_margin_bottom",
        "label": "Remove margin bottom",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "image_link",
            "label": "Image link",
			"info": "Note if you don't want the image to be a link just leave blank."
          },
          {
            "type": "select",
            "id": "bg_position",
            "label": "Position",
            "default": "center-center",
            "info": "Requires 'equalize image heights' to be enabled",
            "options": [
              { "label": "Top", "value": "center-top" },
              { "label": "Right", "value": "right-center" },
              { "label": "Center", "value": "center-center" },
              { "label": "Left", "value": "left-center" },
              { "label": "Bottom", "value": "center-bottom" }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Add a title or tagline"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
          },
          {
            "type": "header",
            "content": "Button"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Text",
            "default": "Learn More"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Link"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Style",
            "default": "text",
            "options": [
              { "label": "Text", "value": "text" },
              { "label": "Small button", "value": "primary btn--small" },
              { "label": "Large button", "value": "primary" },
              { "label": "Small outline button", "value": "secondary btn--small" },
              { "label": "Large outline button", "value": "secondary" }
            ]
          },
          {
            "type": "header",
            "content": "Video Popup"
          },
          {
            "type": "checkbox",
            "id": "show_video",
            "label": "Show video",
            "default": false
          },
          {
            "type": "color",
            "id": "play_btn_color",
            "label": "Play button color",
            "default": "#000000"
          },
          {
            "type": "video_url",
            "id": "video_link",
            "label": "Video link",
            "accept": ["youtube", "vimeo"],
            "info": "Streaming video source from YouTube or Vimeo.",
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text columns with images",
        "category": "Text",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
