<!-- /sections/section-text.liquid -->
{%- liquid
  assign unique = section.id
  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#Text--' | append: unique
  assign text_position = section.settings.text_position
  assign img_position = section.settings.img_position
  assign text_color = section.settings.text_color
  assign section_padding = section.settings.padding
  assign wrapper = section.settings.wrapper
  assign bg_color = section.settings.bg_color
  assign image = section.settings.image
  assign bg_image = section.settings.bg_image
  assign bg_url = bg_image | img_url: '900x'
  assign show_spacer_lines = settings.show_spacer_lines

  assign section_class = 'text-section ' | append: text_color
  if section_padding != 'standard-padding'
    assign section_class = section_class | append: ' text-section--' | append: section_padding
  endif

  assign wrapper_class = 'wrapper'
  if wrapper != 'normal'
    assign wrapper_class = wrapper_class | append: ' wrapper--' | append: wrapper
  endif
-%}

{%- if bg_color != 'rgba(0,0,0,0)' and bg_color != '' -%}
  {%- style -%}
    #Text--{{ unique }} { --bg: {{ bg_color }}; }
  {%- endstyle -%}
{%- endif -%}

<section id="Text--{{ unique }}"
  class="{{ section_class }} {% if section.settings.remove_margin_bottom %}remove-margin-bottom{% endif %}"
  data-section-id="{{ unique }}"
  data-section-type="text">
  <div class="{{ wrapper_class }} text-{{ text_position }} {% if section.settings.image != blank %} text_image_{{img_position}} {% endif %} {% if bg_image != blank %} bg_enabled {% endif %}">
    <div class="text__wrapper" {%if image == blank %}style="width: 100%;"{% endif %} {% if bg_image != blank %} style="background-image: url('{{ bg_url }}');" {% endif %}>
      {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}
          {%- liquid
            assign text = block.settings.text
            assign subheading_size = block.settings.subheading_size
            assign subheading_mobile_size = block.settings.subheading_mobile_size
            assign text_size = block.settings.size | times: 0.01
            assign mobile_size = block.settings.mobile_size
            assign heading_size = block.settings.desk_size
            assign text_mobile_size = block.settings.text_mobile_size
            assign text_desk_size = block.settings.text_desk_size
            assign font_weight = block.settings.font_weight | times: 1
            assign font_weight_right = block.settings.font_weight_right | times: 1
            assign letter_spacing = block.settings.letter_spacing
          -%}

          {%- case block.type -%}
            {%- when 'subheading' -%}
              {%- style -%}
                #Text--{{ unique }} .text__subheading { 
                  font-size: {{subheading_size}}px;
                  font-weight: {{ font_weight }};
                  letter-spacing: {{ letter_spacing }}px;
                }
                @media screen and (min-width: 1024px) {
                  #Text--{{ unique }} .text__subheading {
                    font-size: {{subheading_size}}px; 
                  }
                }
                @media screen and (max-width: 465px) {
                  #Text--{{ unique }} .text__subheading {
                    font-size: {{subheading_mobile_size}}px; 
                  }
                }
              {%- endstyle -%}

              {%- if text != blank -%}
                <div class="text__subheading subheading-text"{% if animations_enabled %} data-aos="fade-up" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %} {{ block.shopify_attributes }}>{{ text }}</div>
                {%- assign animation_delay = animation_delay | plus: 250 -%}
              {%- endif -%}

            {%- when 'heading' -%}
              {%- style -%}
                #Text--{{ unique }} .text__heading,
                #Text--{{ unique }} .text__heading p { 
                  font-size: {{mobile_size}}px;
                  font-weight: {{ font_weight }};
                  letter-spacing: {{ letter_spacing }}px;
                }
                @media screen and (min-width: 1024px) {
                  #Text--{{ unique }} .text__heading,
                  #Text--{{ unique }} .text__heading p { 
                    font-size: {{heading_size}}px;
                  }
                }
              {%- endstyle -%}

              {%- if text != blank -%}
                <div class="text__heading h2"{% if animations_enabled %} data-aos="fade-up" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %} {{ block.shopify_attributes }}>{{ text }}</div>
                {%- assign animation_delay = animation_delay | plus: 250 -%}

                {%- if show_spacer_lines and forloop.last == false -%}
                  <hr{% if animations_enabled %} data-aos="fade-up" data-aos-delay="{{ animation_delay }}" data-aos-anchor="{{ animation_anchor }}"{% endif %}>
                  {%- assign animation_delay = animation_delay | plus: 250 -%}
                {%- endif -%}
              {%- endif -%}

            {%- when 'text' -%}
              {%- style -%}
                #Text--{{ unique }} .text__content { 
                  font-size: {{text_mobile_size}}px;
                  font-weight: {{ font_weight }};
                  letter-spacing: {{ letter_spacing }}px;
                }
                @media screen and (min-width: 1024px) {
                  #Text--{{ unique }} .text__content {
                    font-size: {{text_desk_size}}px;
                  }
                }
              {%- endstyle -%}

              {%- if text != blank -%}
                <div class="text__content"{% if animations_enabled %} data-aos="fade-up" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %} {{ block.shopify_attributes }}>{{ text }}</div>
                {%- assign animation_delay = animation_delay | plus: 250 -%}
              {%- endif -%}

            {%- when 'split-text' -%}
              {%- liquid
                assign text_left = block.settings.text_left
                assign text_size_left = block.settings.size_left | times: 0.01
                assign text_right = block.settings.text_right
                assign text_size_right = block.settings.size_right | times: 0.01
                assign text_size_left_mobile = text_size_left
                assign text_size_right_mobile = text_size_right

                if text_size_left > 1.5
                  assign text_size_left_mobile = text_size_left | times: 0.85
                endif
                if text_size_left > 2
                  assign text_size_left_mobile = text_size_left | times: 0.7
                endif
                if text_size_left > 2.5
                  assign text_size_left_mobile = text_size_left | times: 0.55
                endif

                if text_size_right > 1.5
                  assign text_size_right_mobile = text_size_right | times: 0.85
                endif
                if text_size_right > 2
                  assign text_size_right_mobile = text_size_right | times: 0.7
                endif
                if text_size_right > 2.5
                  assign text_size_right_mobile = text_size_right | times: 0.55
                endif
              -%}

              {%- style -%}
                #Text--{{ unique }} .text__split__right { 
                  --adjust-body: calc(var(--FONT-ADJUST-BODY) * {{ text_size_right_mobile }}rem); 
                  font-size: var(--adjust-body);
                  font-weight: {{ font_weight_right }};
                  letter-spacing: {{ block.settings.letter_spacing_right }}px;
                }
                #Text--{{ unique }} .text__split__left { 
                  --adjust-body: calc(var(--FONT-ADJUST-BODY) * {{ text_size_left_mobile }}rem); 
                  font-size: var(--adjust-body);
                  font-weight: {{ font_weight }};
                  letter-spacing: {{ letter_spacing }}px;
                }
                @media screen and (min-width: 1024px) {
                  #Text--{{ unique }} .text__split__left { 
                    --adjust-body: calc(var(--FONT-ADJUST-BODY) * {{ text_size_left }}rem); 
                    font-size: var(--adjust-body);
                  }
                  #Text--{{ unique }} .text__split__right { 
                    --adjust-body: calc(var(--FONT-ADJUST-BODY) * {{ text_size_right }}rem); 
                    font-size: var(--adjust-body);
                  }
                }
              {%- endstyle -%}

              {%- if text_left != blank or text_right != blank -%}
                <div class="text__split"{% if animations_enabled %} data-aos="fade-up" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %} {{ block.shopify_attributes }}>
                  {%- assign animation_delay = animation_delay | plus: 250 -%}
                  <div class="text__split__left">{{ text_left }}</div>

                  <div class="text__split__right">{{ text_right }}</div>
                </div>
              {%- endif -%}

            {%- when 'button' -%}
              {%- liquid
                assign prev_block_index = forloop.index0 | minus: 1
                assign next_block_index = forloop.index0 | plus: 1
                assign prev_block_type = section.blocks[prev_block_index].type
                assign next_block_type = section.blocks[next_block_index].type
                assign btn_text = block.settings.btn_text
                assign btn_link = block.settings.btn_link
                assign btn_style = block.settings.btn_style
              -%}

              {%- capture button -%}
                {%- if btn_text != blank -%}
                  <div class="text__button"{% if animations_enabled %} data-aos="fade" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %} {{ block.shopify_attributes }}>
                    <a href="{{ btn_link | default: '#!' }}" class="btn btn--{{ btn_style }}">{{ btn_text }}</a>
                  </div>
                  {%- assign animation_delay = animation_delay | plus: 250 -%}
                {%- endif -%}
              {%- endcapture -%}

              {%- if next_block_type == 'button' -%}
                <div class="text__buttons__wrapper">
                  {{ button }}
              {%- elsif prev_block_type == 'button' and forloop.index0 != 0 -%}
                  {{ button }}
                </div>
              {%- else -%}
                {{ button }}
              {%- endif -%}

            {%- when 'icon' -%}
              {%- liquid
                assign icon_name = block.settings.icon_name
                assign icon_color = block.settings.icon_color
                assign icon_width = block.settings.icon_width
              -%}

              {%- capture style -%}
                --icon-size: {{ icon_width }}px;

                {%- if icon_color != 'rgba(0,0,0,0)' and icon_color != blank and icon_image == blank -%}
                  color: {{ icon_color }};
                {%- endif -%}
              {%- endcapture -%}

              <div class="text__icon__wrapper"{% if animations_enabled %} data-aos="fade-up" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %} {{ block.shopify_attributes }}>
                <div class="text__icon" style="{{ style }}">
                  {%- render 'icons', icon: icon_name -%}
                </div>
              </div>
              {%- assign animation_delay = animation_delay | plus: 250 -%}
          {%- endcase -%}
        {%- endfor -%}
      {%- else -%}
        {%- render 'no-blocks' -%}
      {%- endif -%}
    </div>
    <div class="image__content__wraper" {%if image == blank %}style="display: none;"{% endif %}>
      {%- liquid
        assign image = section.settings.image
        assign mobile_image = section.settings.mobile_image
        assign image_link = section.settings.image_link
        assign image_alt = section.alt | strip_html | escape
        assign image_url_pattern = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
        assign mobile_image_url_pattern = mobile_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
        assign animation_delay = animation_delay | plus: 250
      -%}

      {%- capture image_markup -%}
        {%- if image != blank -%}
          <img class="text__image lazyload"
            src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
            data-src="{{ image_url_pattern }}"
            data-aspectratio="{{ image.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ image.alt | escape }}">
          <noscript>
            <img src="{{ image | img_url: '300x' }}" class="text__image" alt="{{ image_alt }}">
          </noscript>
        {%- endif -%}
      {%- endcapture -%}

      {%- capture mobile_image_markup -%}
      {%- if mobile_image != blank -%}
        <img class="text__image lazyload"
          src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
          data-src="{{ mobile_image_url_pattern }}"
          data-aspectratio="{{ mobile_image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ mobile_image.alt | escape }}">
        <noscript>
          <img src="{{ mobile_image | img_url: '300x' }}" class="text__image" alt="{{ image_alt }}">
        </noscript>
      {%- endif -%}
    {%- endcapture -%}
      <div class="text__image__wrapper {%if mobile_image == blank%} show_on_mobile {%- else -%} hide_on_mobile {%- endif -%}"{% if animations_enabled %} data-aos="fade-up" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %}>
        {%- if image_link != blank -%}
          <a href="{{ image_link }}" aria-label="{{ image_alt }}">{{ image_markup }}</a>
        {%- else -%}
          {{- image_markup -}}
        {%- endif -%}
      </div>
      {%- if mobile_image != blank -%}
        <div class="text__mobile_image__wrapper {%if mobile_image != blank%} show_on_mobile {%- endif -%}"{% if animations_enabled %} data-aos="fade-up" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %}>
          {%- if image_link != blank -%}
            <a href="{{ image_link }}" aria-label="{{ image_alt }}">{{ mobile_image_markup }}</a>
          {%- else -%}
            {{- mobile_image_markup -}}
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Text",
  "class": "text",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "url",
      "id": "image_link",
      "label": "Image link"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "img_position",
      "label": "Image position",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "wrapper",
      "label": "Width",
      "default": "narrow",
      "options": [
        { "label": "Narrow", "value": "narrow" },
        { "label": "Normal" , "value": "normal" },
        { "label": "Wide", "value": "full" }
      ]
    },
    {
      "type": "select",
      "id": "padding",
      "label": "Height",
      "default": "standard-padding",
      "options": [
        { "label": "Short", "value": "standard-padding" },
        { "label": "Tall", "value": "extra-padding" },
        { "label": "Extra tall", "value": "huge-padding" }
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Text",
      "default": "text-dark",
      "options": [
        { "value": "text-light", "label": "Light"},
        { "value": "text-dark", "label": "Dark"}
      ]
    },
    {
      "type": "checkbox",
      "id": "remove_margin_bottom",
      "label": "Remove margin bottom",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "Subheading",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Subheading</p>"
        },
        {
          "type": "range",
          "id": "subheading_size",
          "label": "Desktop Size",
          "min": 20,
          "max": 40,
          "default": 26,
          "step": 2,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "subheading_mobile_size",
          "label": "Mobile Size",
          "min": 14,
          "max": 30,
          "default": 20,
          "step": 2,
          "unit": "px"
        },
        {
          "type": "select",
          "id": "font_weight",
          "label": "Font weight",
          "default": "700",
          "options": [
            { "label": "700", "value": "700" },
            { "label": "400", "value": "400" },
            { "label": "200", "value": "200" }
          ]
        },
        {
          "type": "range",
          "id": "letter_spacing",
          "label": "Text letter spacing",
          "default": 0,
          "min": -5,
          "max": 5,
          "step": 1,
          "unit": "px"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "<p>Our Story</p>"
        },
        {
          "type": "range",
          "id": "desk_size",
          "label": "Desktop Size",
          "min": 30,
          "max": 50,
          "default": 40,
          "step": 2,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "mobile_size",
          "label": "Mobile Size",
          "min": 14,
          "max": 30,
          "default": 22,
          "step": 2,
          "unit": "px"
        },
        {
          "type": "select",
          "id": "font_weight",
          "label": "Font weight",
          "default": "700",
          "options": [
            { "label": "700", "value": "700" },
            { "label": "400", "value": "400" },
            { "label": "200", "value": "200" }
          ]
        },
        {
          "type": "range",
          "id": "letter_spacing",
          "label": "Text letter spacing",
          "default": 0,
          "min": -5,
          "max": 5,
          "step": 1,
          "unit": "px"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "range",
          "id": "text_desk_size",
          "label": "Desktop Size",
          "min": 16,
          "max": 24,
          "default": 18,
          "step": 2,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_mobile_size",
          "label": "Mobile Size",
          "min": 16,
          "max": 24,
          "default": 18,
          "step": 2,
          "unit": "px"
        },
        {
          "type": "select",
          "id": "font_weight",
          "label": "Font weight",
          "default": "700",
          "options": [
            { "label": "700", "value": "700" },
            { "label": "400", "value": "400" },
            { "label": "200", "value": "200" }
          ]
        },
        {
          "type": "range",
          "id": "letter_spacing",
          "label": "Text letter spacing",
          "default": 0,
          "min": -5,
          "max": 5,
          "step": 1,
          "unit": "px"
        }
      ]
    },
    {
      "type": "split-text",
      "name": "Split text",
      "settings": [
        {
          "type": "richtext",
          "id": "text_left",
          "label": "Text left",
          "default": "<p>Palo Alto is a powerful Shopify theme that will set you apart from the rest.</p>"
        },
        {
          "type": "range",
          "id": "size_left",
          "label": "Size",
          "min": 50,
          "max": 300,
          "default": 100,
          "step": 5,
          "unit": "%"
        },
        {
          "type": "select",
          "id": "font_weight",
          "label": "Font weight",
          "default": "700",
          "options": [
            { "label": "700", "value": "700" },
            { "label": "400", "value": "400" },
            { "label": "200", "value": "200" }
          ]
        },
        {
          "type": "range",
          "id": "letter_spacing",
          "label": "Text letter spacing",
          "default": 0,
          "min": -5,
          "max": 5,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "richtext",
          "id": "text_right",
          "label": "Text right",
          "default": "<p>It features ample space to showcase your imagery with Mosaic, Image with text, and Slideshow sections ... and even this Text section itself.</p>"
        },
        {
          "type": "range",
          "id": "size_right",
          "label": "Size",
          "min": 50,
          "max": 300,
          "default": 100,
          "step": 5,
          "unit": "%"
        },
        {
          "type": "select",
          "id": "font_weight_right",
          "label": "Font weight",
          "default": "700",
          "options": [
            { "label": "700", "value": "700" },
            { "label": "400", "value": "400" },
            { "label": "200", "value": "200" }
          ]
        },
        {
          "type": "range",
          "id": "letter_spacing_right",
          "label": "Text letter spacing",
          "default": 0,
          "min": -5,
          "max": 5,
          "step": 1,
          "unit": "px"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "btn_text",
          "label": "Text",
          "default":"Read More"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "URL"
        },
        {
          "type": "select",
          "id": "btn_style",
          "label": "Style",
          "default": "primary btn--small",
          "options": [
            { "label": "Text", "value": "text" },
            { "label": "Small button", "value": "primary btn--small" },
            { "label": "Large button", "value": "primary" },
            { "label": "Small outline button", "value": "secondary btn--small" },
            { "label": "Large outline button", "value": "secondary" }
          ]
        }
      ]
    },
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
      {
          "type": "select",
          "id": "icon_name",
          "label": "Icon",
          "default": "clock",
          "options": [
            { "value": "alert-circle", "label": "Alert" },
            { "value": "archive", "label": "Archive" },
            { "value": "arrow-up-circle", "label": "Arrow" },
            { "value": "arrow-up-right", "label": "Arrow right" },
            { "value": "at-sign", "label": "At sign" },
            { "value": "award", "label": "Award" },
            { "value": "bell", "label": "Bell" },
            { "value": "bookmark", "label": "Bookmark" },
            { "value": "calendar", "label": "Calendar" },
            { "value": "camera", "label": "Camera" },
            { "value": "check", "label": "Check" },
            { "value": "clipboard", "label": "Clipboard" },
            { "value": "clock", "label": "Clock" },
            { "value": "compass", "label": "Compass" },
            { "value": "credit-card", "label": "Credit card" },
            { "value": "dollar-sign", "label": "Dollar sign" },
            { "value": "download", "label": "Download" },
            { "value": "edit-2", "label": "Pencil" },
            { "value": "flag", "label": "Flag" },
            { "value": "heart", "label": "Heart" },
            { "value": "help-circle", "label": "Question mark" },
            { "value": "info", "label": "Info" },
            { "value": "mail", "label": "Mail" },
            { "value": "map-pin", "label": "Map" },
            { "value": "message-circle", "label": "Message" },
            { "value": "music", "label": "Music" },
            { "value": "paperclip", "label": "Paperclip" },
            { "value": "phone", "label": "Phone" },
            { "value": "plus", "label": "Plus" },
            { "value": "refresh-cw", "label": "Recycle" },
            { "value": "shield", "label": "Shield" },
            { "value": "smile", "label": "Smile" },
            { "value": "star", "label": "Star" },
            { "value": "thumbs-up", "label": "Thumbs up" },
            { "value": "truck", "label": "Truck" },
            { "value": "zap", "label": "Lightening" },
            { "value": "none", "label": "None" }
          ]
        },
        {
          "type": "color",
          "id": "icon_color",
          "label": "Icon color"
        },
        {
          "type": "range",
          "id": "icon_width",
          "label": "Icon width",
          "min": 20,
          "max": 60,
          "step": 1,
          "unit": "px",
          "default": 25
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text",
      "category": "Text",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}